-
  var infoPart1 = [
    {
      title: "Design together live",
      subtitle: "Tue · 3pm - 5pm BST",
      description: "Jump into a live zoom class with your class mates around the world and collaborate live in tools like Figma. These sessions are designed to help you learn-by-doing and make Memorisely the best place to learn UX/UI online.",
      videoLink: "https://www.youtube.com/embed/Ncw-XN7MIws",
    },
    {
      title: "Design together live",
      subtitle: "Tue · 3pm - 5pm BST",
      description: "Jump into a live zoom class with your class mates around the world and collaborate live in tools like Figma. These sessions are designed to help you learn-by-doing and make Memorisely the best place to learn UX/UI online.",
      videoLink: "https://www.youtube.com/embed/Ncw-XN7MIws",
    },
    {
      title: "Design together live",
      subtitle: "Tue · 3pm - 5pm BST",
      description: "Jump into a live zoom class with your class mates around the world and collaborate live in tools like Figma. These sessions are designed to help you learn-by-doing and make Memorisely the best place to learn UX/UI online.",
      videoLink: "https://www.youtube.com/embed/Ncw-XN7MIws",
    },
  ];

  var infoPart2 = [
    {
      title: "Design System Challenges",
      subtitle: "3-5hr Figma & Notion Tasks",
      description: "Our live sessions are packed with learning together in Figma. For homework, we set you a series of tasks to complete that contribute to a Design System that we  scale together as a class.",
      imgSrc: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fdec894037e_pencil.png",
    },
    {
      title: "Design System Challenges",
      subtitle: "3-5hr Figma & Notion Tasks",
      description: "Our live sessions are packed with learning together in Figma. For homework, we set you a series of tasks to complete that contribute to a Design System that we  scale together as a class.",
      imgSrc: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fdec894037e_pencil.png",
    },
    {
      title: "Design System Challenges",
      subtitle: "3-5hr Figma & Notion Tasks",
      description: "Our live sessions are packed with learning together in Figma. For homework, we set you a series of tasks to complete that contribute to a Design System that we  scale together as a class.",
      imgSrc: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fdec894037e_pencil.png",
    },
  ];

  var infoPart3 = [
    {
      title: "UX/UI Events",
      subtitle: "30m to 1hr events",
      description: "Be inspired and join our weekly UX/UI events with over 3000+ designers around the world. From celebrating your weekly wins to getting feedback on your work, it's a great opportunity to be inspired and build a network of designers around the world.",
      imgSrc: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f92ac727d9950252dd2375d_review.jpg",
    },
    {
      title: "UX/UI Events",
      subtitle: "30m to 1hr events",
      description: "Be inspired and join our weekly UX/UI events with over 3000+ designers around the world. From celebrating your weekly wins to getting feedback on your work, it's a great opportunity to be inspired and build a network of designers around the world.",
      imgSrc: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f92ac727d9950252dd2375d_review.jpg",
    },
    {
      title: "UX/UI Events",
      subtitle: "30m to 1hr events",
      description: "Be inspired and join our weekly UX/UI events with over 3000+ designers around the world. From celebrating your weekly wins to getting feedback on your work, it's a great opportunity to be inspired and build a network of designers around the world.",
      imgSrc: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f92ac727d9950252dd2375d_review.jpg",
    },
  ];
