-
  var infoPart1 = [
    {
      title: "Учитесь онлайн вместе",
      subtitle: "Пн-Ср • 19.00",
      description: "Присоединяйтесь к живому классу вместе со своими одногруппниками по всему миру. Мы будем использовать такие программы как: Zoom, Figma и Miro. Эти программы помогут вам изучать язык более комфортно.",
      videoLink: "//fast.wistia.net/embed/iframe/oawd0x18ok?videoFoam=true",
    },
    {
      title: "Учитесь онлайн вместе",
      subtitle: "Пн-Ср • 16.00",
      description: "Присоединяйтесь к живому классу вместе со своими одногруппниками по всему миру. Мы будем использовать такие программы как: Zoom, Figma и Miro. Эти программы помогут вам изучать язык более комфортно.",
      videoLink: "//fast.wistia.net/embed/iframe/oawd0x18ok?videoFoam=true",
    },
    {
      title: "Учитесь онлайн вместе",
      subtitle: "",
      description: "Присоединяйтесь к живому классу вместе со своими одногруппниками по всему миру. Мы будем использовать такие программы как: Zoom, Figma и Miro. Эти программы помогут вам изучать язык более комфортно.",
      videoLink: "//fast.wistia.net/embed/iframe/oawd0x18ok?videoFoam=true",
    },
  ];

  var infoPart2 = {
    title: "Домашнее задание",
    subtitle: "1-2 часа домашнего задания",
    description: "Каждую неделю вы будете получать домашнее задание. Это необходимо для того, чтобы повторить изученный материал, проверить себя и подготовиться к следующему занятию. Это важная часть обучения, которую необходимо выполнять на пути к знаниям.",
  };
