-
  var mainMenu = [
    {
      "id": "0",
      "name": "Наши курсы",
      "childs": "courses",
    },
    {
      "id": "1",
      "name": "Проекты",
      "childs": "schedule",
    },
    // {
    //   "id": "2",
    //   "name": "Цены",
    //   "url": "#modalInDev"
    // },
    {
      "id": "3",
      "name": "История",
      "url": "/#link-our-story"
    },
  ];
