//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
        +main-nav('1')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav.main-nav#nav&attributes(attributes)
    +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    ul.main-nav__list
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem, 1)
          if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
            if menuItem.childs == 'schedule'
              +menu-dropdown-schedule
            else if menuItem.childs == 'courses'
              +menu-dropdown-courses


mixin main-nav-item(selectedID, item, level)
  -
    var thisLinkClass = 'ghost w-button w-button_' + item.childs;

    if(level > 1) {
      thisLinkClass += '  main-nav__link--lvl-' + level;
    }

  if item.childs
    li(class=item.childs+'_dropdown')
      button.dropdown-toggle.w-dropdown-toggle= item.name
      block
  else
    li
      a(class= thisLinkClass, href=item.url)= item.name
      block

mixin main-nav-sublist-wrapper(level)
  -
    var divClass = 'main-nav__sublist-wrapper  main-nav__sublist-wrapper--lvl-' + level;
    var listClass = 'main-nav__list  main-nav__list--lvl-' + level;
  div(class= divClass)
    ul(class= listClass)
      block
