-
  var mainMenu = [
    {
      "id": "0",
      "name": "Наши курсы",
      "url": "#modalInDev"
    },
    {
      "id": "1",
      "name": "Расписание",
      "url": "#modalInDev",
    },
    {
      "id": "2",
      "name": "Цены",
      "url": "#modalInDev"
    },
    {
      "id": "3",
      "name": "История",
      "url": "#modalInDev"
    },
  ];
