-
  var mainMenu = [
    {
      "id": "0",
      "name": "Наши курсы",
      "url": "/"
    },
    {
      "id": "1",
      "name": "Расписание",
      "url": "/",
    },
    {
      "id": "2",
      "name": "Цены",
      "url": "/"
    },
    {
      "id": "3",
      "name": "История",
      "url": "/"
    },
  ];
