mixin section-faces-img(src, name)
  img(
    src=src
    alt="face teacher" + name
    class="memorisers-face"
    loading="lazy"
  )

mixin section-faces

  #containerFaces.container.faces.w-container
    #faces-grid.w-layout-grid.faces-grid(style="will-change: transform; transform: translate3d(-340.112px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;")
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fe647940319_eli.jpg', 'eli')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f395c9402b9_pem_peace.jpg', 'pem peace')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9ffa93940308_laura_smile%20(1).jpg', 'laura')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f03899402bc_tom%20(1).jpg', 'tom')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f0ee19402e8_jabri_rounded.jpg', 'jabri rounded')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f23819402c0_mauricio.jpg', 'mauricio')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f5fd59402b8_flavio%20(1).jpg', 'flavio')

    .w-layout-grid.second-faces(style="will-change: transform; transform: translate3d(-560.168px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;")
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f84d19402ea_sakky.jpg', 'sakky')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f82a79402e1_alex.jpg', 'alex')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fd4f99402ef_jonathan.jpg', 'jonathan')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fcfae9402dc_kate.jpg', 'kate')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f38dc9402df_anske%20(1).jpg', 'anske')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fea819402f1_james%20(2).jpg', 'james')
      +section-faces-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f705f9402ec_ankush.jpg', 'ankush')

