-
  var productInfo = [
    {
      id: "link-overview",
      text1: "АНГЛИЙСКИЙ ДЛЯ ПУТЕШЕСТВИЙ",
      text2: "Присоединяйтесь к нашему курсу для путешественников!",
      text3: "Во время наших онлайн-занятий мы выучим всё, что необходимо вам для комфортного общения и поможем преодолеть языковой барьер. С удовольствием погрузимся в мир увлекательных занятий, с полезными и эффективными упражнениями. Уйдём от “London is the capital of Great Britain”, к полезным и важным фразам. Уделим время всем тонкостям грамматики без воды и лишней информации. Теперь, разговор во время каникул за рубежом или знакомство с иностранцем будет не проблемой и страхом, а удовольствием и решением любых вопросов.",
      videoLink: "//fast.wistia.net/embed/iframe/oawd0x18ok?videoFoam=true",
      metrics: [
        {
          'rate': '100%',
          'title': 'ЗАВЕРШЕНИЕ ПРОГРАММЫ',
          'description': 'Типичные онлайн-курсы имеют коэффициент завершения 62,3%. Мы гордимся тем, что имеем 100%-ный показатель.',
        },
        {
          'rate': '5 / 5',
          'title': 'СРЕДНИЙ ОТЗЫВ',
          'description': 'Главная цель наших занятий-дать ученикам возможность учиться на практике и получать массу удовольствия от этого процесса.',
        },
        {
          'rate': '6',
          'title': 'ОДНОКЛАССНИКИ',
          'description': 'Исходя из нашего опыта и отзывов, 6 — это идеальный размер класса для объединения учащихся вместе, чтобы учиться друг у друга.',
        },
      ]
    },
    {
      id: "link-overview",
      text1: "АНГЛИЙСКИЙ ДЛЯ ШКОЛЬНИКОВ",
      text2: "Присоединяйтесь к нашему курсу для школьников и студентов!",
      text3: "Во время наших онлайн-занятий мы выучим всё, что необходимо вам или вашему ребёнку для комфортного общения, разберём все трудности грамматики, научимся читать и поможем преодолеть языковой барьер. С удовольствием погрузимся в мир увлекательных занятий, с полезными и эффективными упражнениями. Уйдём от “London is the capital of Great Britain”, к полезным и важным фразам. Теперь, урок английского языка станет не чем-то тревожным и трудным, а интересным и захватывающим путешествием.",
      videoLink: "//fast.wistia.net/embed/iframe/oawd0x18ok?videoFoam=true",
      metrics: [
        {
          'rate': '100%',
          'title': 'ЗАВЕРШЕНИЕ ПРОГРАММЫ',
          'description': 'Типичные онлайн-курсы имеют коэффициент завершения 62,3%. Мы гордимся тем, что имеем 100%-ный показатель.',
        },
        {
          'rate': '5 / 5',
          'title': 'СРЕДНИЙ ОТЗЫВ',
          'description': 'Главная цель наших занятий-дать ученикам возможность учиться на практике и получать массу удовольствия от этого процесса.',
        },
        {
          'rate': '6',
          'title': 'ОДНОКЛАССНИКИ',
          'description': 'Исходя из нашего опыта и отзывов, 6 — это идеальный размер класса для объединения учащихся вместе, чтобы учиться друг у друга.',
        },
      ]
    },
    {
      id: "link-overview",
      text1: "АНГЛИЙСКИЙ ДЛЯ КОМПАНИЙ",
      text2: "Присоединяйтесь к нашему курсу для компаний!",
      text3: "Во время наших онлайн-занятий мы выучим всё, что необходимо вам для комфортного и делового общения. С удовольствием погрузимся в мир увлекательных занятий, с полезными и эффективными упражнениями.",
      videoLink: "//fast.wistia.net/embed/iframe/oawd0x18ok?videoFoam=true",
      metrics: [
        {
          'rate': '100%',
          'title': 'ЗАВЕРШЕНИЕ ПРОГРАММЫ',
          'description': 'Типичные онлайн-курсы имеют коэффициент завершения 62,3%. Мы гордимся тем, что имеем 100%-ный показатель.',
        },
        {
          'rate': '5 / 5',
          'title': 'СРЕДНИЙ ОТЗЫВ',
          'description': 'Главная цель наших занятий-дать ученикам возможность учиться на практике и получать массу удовольствия от этого процесса.',
        },
        {
          'rate': '6',
          'title': 'ОДНОКЛАССНИКИ',
          'description': 'Исходя из нашего опыта и отзывов, 6 — это идеальный размер класса для объединения учащихся вместе, чтобы учиться друг у друга.',
        },
      ]
    },
  ]
