-
  var productInfo = [
    {
      id: "link-overview",
      text1: "Design System",
      text2: "Build a design system from scratch that scales",
      text3: "During our online Bootcamp you'll learn how to develop your own Design System using Figma",
      videoLink: "https://www.youtube.com/embed/Ncw-XN7MIws",
      metrics: [
        {
          'rate': '100%',
          'title': 'ЗАВЕРШЕНИЕ ПРОГРАММЫ',
          'description': 'Типичные онлайн-курсы имеют коэффициент завершения 62,3%. Мы гордимся тем, что имеем 100%-ный показатель.',
        },
        {
          'rate': '5 / 5',
          'title': 'СРЕДНИЙ ОТЗЫВ',
          'description': 'Главная цель наших занятий-дать ученикам возможность учиться на практике и получать массу удовольствия от этого процесса.',
        },
        {
          'rate': '50+',
          'title': 'выпускники',
          'description': 'Более 50 успешно окончивших курс учеников.',
        },
      ]
    },
    {
      id: "link-overview",
      text1: "Design System",
      text2: "Build a design system from scratch that scales",
      text3: "During our online Bootcamp you'll learn how to develop your own Design System using Figma",
      videoLink: "https://www.youtube.com/embed/Ncw-XN7MIws",
      metrics: [
        {
          'rate': '100%',
          'title': 'ЗАВЕРШЕНИЕ ПРОГРАММЫ',
          'description': 'Типичные онлайн-курсы имеют коэффициент завершения 62,3%. Мы гордимся тем, что имеем 100%-ный показатель.',
        },
        {
          'rate': '5 / 5',
          'title': 'СРЕДНИЙ ОТЗЫВ',
          'description': 'Главная цель наших занятий-дать ученикам возможность учиться на практике и получать массу удовольствия от этого процесса.',
        },
        {
          'rate': '50+',
          'title': 'выпускники',
          'description': 'Более 50 успешно окончивших курс учеников.',
        },
      ]
    },
    {
      id: "link-overview",
      text1: "Design System",
      text2: "Build a design system from scratch that scales",
      text3: "During our online Bootcamp you'll learn how to develop your own Design System using Figma",
      videoLink: "https://www.youtube.com/embed/Ncw-XN7MIws",
      metrics: [
        {
          'rate': '100%',
          'title': 'ЗАВЕРШЕНИЕ ПРОГРАММЫ',
          'description': 'Типичные онлайн-курсы имеют коэффициент завершения 62,3%. Мы гордимся тем, что имеем 100%-ный показатель.',
        },
        {
          'rate': '5 / 5',
          'title': 'СРЕДНИЙ ОТЗЫВ',
          'description': 'Главная цель наших занятий-дать ученикам возможность учиться на практике и получать массу удовольствия от этого процесса.',
        },
        {
          'rate': '50+',
          'title': 'выпускники',
          'description': 'Более 50 успешно окончивших курс учеников.',
        },
      ]
    },
  ]
