-
  var products = [
    {
      "dataWId": "e27b9882-a576-dacf-1f3a-b54798cc1bca",
      "url": "/",
      "classBg": "",
      "bootcampTools": [
        {
          className: "card-tool nav-tool miro"
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f29c69401e6_logo_notion.png",
          alt: "logo bootcamp tool notion",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fdca39401fc_figma_logo.png",
          alt: "logo bootcamp tool figma",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f22dd94031d_loom_logo.png",
          sizes: "(max-width: 479px) 16px, (max-width: 991px) 20px, (max-width: 1279px) 2vw, (max-width: 1439px) 20px, 1vw",
          alt: "logo bootcamp tool loom",
        },
        {
          className: "card-tool card-overlap maze"
        },
        {
          className: "card-tool card-overlap nav-tool",
          count: "+2"
        },
      ],
      "rating": "4",
      "title": "UX/UI Design",
      "employment": "Part-Time",
      "duration": "10 weeks",
      "description": "Change your life, become a UX/UI designer in 10 part-time weeks.",
      "btnClass": "fill",
    },
    {
      "dataWId": "e27b9882-a576-dacf-1f3a-b54798cc1be9",
      "url": "/",
      "classBg": "ds",
      "bootcampTools": [
        {
          className: "card-tool nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f29c69401e6_logo_notion.png",
          alt: "logo bootcamp tool notion",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fdca39401fc_figma_logo.png",
          alt: "logo bootcamp tool figma",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f22dd94031d_loom_logo.png",
          sizes: "(max-width: 479px) 16px, (max-width: 991px) 20px, (max-width: 1279px) 2vw, (max-width: 1439px) 20px, 1vw",
          alt: "logo bootcamp tool loom",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f81c49402de_logo_slack.png",
          alt: "logo bootcamp tool slack",
        },
        {
          className: "card-tool card-overlap nav-tool",
          count: "+2"
        },
      ],
      "rating": "5",
      "title": "Design System",
      "employment": "Part-Time",
      "duration": "5 weeks",
      "description": "Learn how to build a design system with Figma and Notion.",
      "btnClass": "outline",
    },
    {
      "dataWId": "e27b9882-a576-dacf-1f3a-b54798cc1be9",
      "url": "/",
      "classBg": "ds",
      "bootcampTools": [
        {
          className: "card-tool nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f29c69401e6_logo_notion.png",
          alt: "logo bootcamp tool notion",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9fdca39401fc_figma_logo.png",
          alt: "logo bootcamp tool figma",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f22dd94031d_loom_logo.png",
          sizes: "(max-width: 479px) 16px, (max-width: 991px) 20px, (max-width: 1279px) 2vw, (max-width: 1439px) 20px, 1vw",
          alt: "logo bootcamp tool loom",
        },
        {
          className: "card-tool card-overlap nav-tool",
          src: "https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f81c49402de_logo_slack.png",
          alt: "logo bootcamp tool slack",
        },
        {
          className: "card-tool card-overlap nav-tool",
          count: "+2"
        },
      ],
      "rating": "5",
      "title": "Design System",
      "employment": "Part-Time",
      "duration": "5 weeks",
      "description": "Learn how to build a design system with Figma and Notion.",
      "btnClass": "outline",
    },
  ];
