-
  var products = [
    {
      url: "/product.one.html",
      classBg: "service_1",
      bootcampTools: [
        {
          className: "card-tool nav-tool zoom"
        },
        {
          className: "card-tool nav-tool figma",
        },
        {
          className: "card-tool nav-tool miro"
        },
        {
          className: "card-tool nav-tool powerpoint"
        },
      ],
      rating: "4",
      title: "Я уеду жить в Лондон",
      employment: "Протяженность курса",
      duration: "3 месяца",
      description: "Английский язык для карьеры, путешествий и развлечений.",
      description_large: "Вы любите путешествовать, часто общаетесь с иностранцами или просто хотите овладеть языком, на котором говорит большая половина человечества – тогда наш курс для вас. Вместе мы будем учиться правильно строить предложения и применять их в повседневной жизни. Изучим грамматику, а также пополним и расширим ваш словарный запас.",
      btnClass: "fill",
      imgSrc: "/img/services/service_1"
    },
    {
      url: "/product.two.html",
      classBg: "service_2",
      bootcampTools: [
        {
          className: "card-tool nav-tool zoom"
        },
        {
          className: "card-tool nav-tool figma",
        },
        {
          className: "card-tool nav-tool miro"
        },
        {
          className: "card-tool nav-tool powerpoint"
        },
      ],
      rating: "5",
      title: "Не хочу учиться, а хочу жениться",
      employment: "Протяженность курса",
      duration: "может варьироваться",
      description: "Английский для школьников и студентов.",
      description_large: "Вы или ваш ребенок потеряли интерес к обучению английского языка, а школьная программа стала трудной и не понятной? Мы подробно разберём все волнующие и проблематичные для вас темы и докажем, что английский – это легко и интересно. Уверены, вы не захотите останавливаться.",
      btnClass: "outline",
    },
    {
      url: "/product.three.html",
      classBg: "service_3",
      bootcampTools: [
        {
          className: "card-tool nav-tool zoom"
        },
        {
          className: "card-tool nav-tool figma",
        },
        {
          className: "card-tool nav-tool miro"
        },
        {
          className: "card-tool nav-tool powerpoint"
        },
      ],
      rating: "5",
      title: "Моя перспектива",
      employment: "Протяженность курса",
      duration: "3 месяца",
      description: "Компаниям, корпоративный английский для сотрудников. ",
      description_large: "Хотите вывести свою компанию на международный уровень? Желаете, чтобы каждый сотрудник развивался и знал английский? Корпоративное обучение английскому языку поможет вам. Наш курс предназначен для компаний и людей, желающих получить новые знания, найти хорошую работу или настроить коммуникацию с будущими клиентами. кроме того, это хорошая идея для тимбилдинга и повышения личностного роста.",
      btnClass: "fill",
    },
  ];
