-
  var products = [
    {
      "url": "#modalContactForm",
      "classBg": "service_1",
      "bootcampTools": [
        {
          className: "card-tool nav-tool zoom"
        },
        {
          className: "card-tool nav-tool figma",
        },
        {
          className: "card-tool nav-tool miro"
        },
        {
          className: "card-tool nav-tool powerpoint"
        },
      ],
      "rating": "4",
      "title": "Я уеду жить в Лондон",
      "employment": "Протяженность курса",
      "duration": "3 месяца",
      "description": "Английский язык для карьеры, путешествий и развлечений.",
      "btnClass": "fill",
    },
    {
      "url": "#modalContactForm",
      "classBg": "service_2",
      "bootcampTools": [
        {
          className: "card-tool nav-tool zoom"
        },
        {
          className: "card-tool nav-tool figma",
        },
        {
          className: "card-tool nav-tool miro"
        },
        {
          className: "card-tool nav-tool powerpoint"
        },
      ],
      "rating": "5",
      "title": "Не хочу учиться, а хочу жениться",
      "employment": "Протяженность курса",
      "duration": "может варьироваться",
      "description": "Английский для школьников и студентов.",
      "btnClass": "outline",
    },
    {
      "url": "#modalContactForm",
      "classBg": "service_3",
      "bootcampTools": [
        {
          className: "card-tool nav-tool zoom"
        },
        {
          className: "card-tool nav-tool figma",
        },
        {
          className: "card-tool nav-tool miro"
        },
        {
          className: "card-tool nav-tool powerpoint"
        },
      ],
      "rating": "5",
      "title": "Моя перспектива",
      "employment": "Протяженность курса",
      "duration": "3 месяца",
      "description": "Компаниям, корпоративный английский для сотрудников. ",
      "btnClass": "fill",
    },
  ];
