mixin section-product

  .container.w-container
    .section(id="link-our-projects")
      +line-dotted
      +section-row-text(
        'УЧИ АНГЛИЙСКИЙ ОНЛАЙН',
        'Измените свою жизнь, начни изучать английский с Loveng !',
        'Наша платформа-это новый образовательный онлайн-проект, который поможет тебе выучить английский язык. Вы будете учиться как индивидуально, так и практиковать полученные знания в небольших группах.'
        )
      .break
      +products-wrapper('wow fadeInUp')
