mixin section-product

  .container.w-container
    .section
      +line-dotted
      +section-row-text(
        'ONLINE UX/UI BOOTCAMPS',
        'Change your life, become a UX/UI Designer',
        'Our online UX/UI bootcamps are designed to help you learn-by-doing with a micro class of 10 designers around the world.'
        )
      .break
      +products-wrapper('wow fadeInUp')
