mixin section-product

  .container.w-container
    .section
      +line-dotted
      +section-row-text(
        'row half-row',
        'e01c3a93-abbd-cc75-444d-0c2049cfeedb',
        'ONLINE UX/UI BOOTCAMPS',
        '63863133-a703-86d7-1bc1-02c48e84990d',
        'Change your life, become a UX/UI Designer',
        '63863133-a703-86d7-1bc1-02c48e84990f',
        'Our online UX/UI bootcamps are designed to help you learn-by-doing with a micro class of 10 designers around the world.'
        )
      .break
      +products-wrapper
