-
  var metrics = [
    [
      {
        title: 'Community first',
        description: 'Our community have supported us since day one and they mean everything to us. Everyday we foster inclusivity.',
      },
      {
        title: 'Always authentic',
        description: 'We hate shady marketing and believe raw authenticity and transparency is the key to any conversation or way of teaching.',
      },
      {
        title: 'Celebrate diversity',
        description: 'We listen and learn from our diverse community. It\'s the diversity of our community that makes Memorisely magic.',
      },
    ],
    [
      {
        title: 'Stay sustainable',
        description: 'We\'re interested in creating a sustainable education business that invests in our community, team, and the world. Hence why we are fully bootstrapped.',
      },
      {
        title: 'Positive energy',
        description: 'We\'re great believers in emitting positive energy and being a kind human goes a huge way. We\'re proud to have the friendliest UX/UI community on the planet.',
      },
      {
        title: 'Waves before web',
        description: 'If the swell is good, drop everything and surf. Being remote, we encourage our team and tribe to grab time away from the screen and enjoy some fresh air everyday.',
      },
    ],
  ]
