-
  var metrics = [
    [
      {
        title: 'Мы любим своих учеников ',
        description: 'Мы всегда на связи, и готовы ответить на любой ваш вопрос.',
      },
      {
        title: 'Лучшие методики',
        description: 'Наши программы обучения доступны и интересны для всех возрастов.',
      },
      {
        title: 'Положительная энергия',
        description: 'Мы верим в излучение позитивной энергии. Быть добрым человеком — это огромный путь. Мы гордимся тем, что у нас самая дружелюбная платформа на планете.',
      },
    ],
    [
      {
        title: 'Общение с носителями языка',
        description: 'Носители языка участвуют в повышении уровня ваших знаний, и как настоящий бельгийский шоколад ,способствуют раскрытию ваших "вкусовых рецепторов" по отношению к языку.',
      },
      {
        title: 'Индивидуальный подход',
        description: 'Практикуем индивидуальный подход к каждому ученику,учитывая ваши пожелания,особенности и график.',
      },
      {
        title: 'Оперативное реагирование',
        description: 'Стараемся максимально быстро  удовлетворить пожелания ученика в учебном процессе.',
      },
    ],
  ]
