mixin menu-dropdown-courses

  .dropdown-list.w-dropdown-list.w--open.d-none
    .footer-header.green.mb-32
      .capitals.bold ⚡️ Live Online Bootcamps
    .nav-column-container
      +products-wrapper()
