#sidebar {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  overflow-y: auto;

  .slider {
    display: flex;
    position: relative;
  }

  .slide-menu {
    min-height: 100%;
    display: inline-table;
  }

  .logo,
  .slider-body {
    white-space: nowrap;
  }
}

#openSidebar,
#closeSidebar {
  cursor: pointer;
}
