mixin sidebar-column(column)

    .footer-column
      .footer-header.slider-capitals
        .capitals.slider-capitals= column.title
      each link in column.links
        .footer-link
          a(href= link.url, data-toggle="modal")= link.title


mixin sidebar

  #sidebar
    .slider
      .slide-menu
        .slider-header
          +logo('/', 'navbar-logo-container w-inline-block w--current')
            img(src="img/logo.svg", loading="lazy", alt="логотип с текстом loveng", width=200, height=47)

          #closeSidebar.outline.nav-outline Закрыть

        .slider-contacts
          a.outline.nav-outline.w-button.btn-contact(href="tel:+375(29) 285-43-38") +375(29) 285-43-38
          .phones-wrapper
            a.btn-vb(href="viber://chat?number=375292854338")
            a.btn-tg(href="https://telegram.me/lovengby")
            a.btn-ws(href="https://wa.me/375292854338")

        .slider-body

          include sidebar.data.pug

          each column in sidebarColumns
            +sidebar-column(column)
