-
  var sidebarColumns = [
    {
      title: 'ОНЛАЙН ОБУЧЕНИЕ',
      links: [
        {
          title: 'Английский для взрослых',
          url: '#modalInDev',
        },
        {
          title: 'Английский для детей',
          url: '#modalInDev',
        },
        {
          title: 'Английский для компаний',
          url: '#modalInDev',
        },
        {
          title: 'Стоимость',
          url: '#modalInDev',
        },
        {
          title: 'Пригласить друга',
          url: '#modalInDev',
        },
      ]
    },
    {
      title: 'LOVENG',
      links: [
        {
          title: 'Наша история',
          url: '#modalInDev',
        },
        {
          title: 'Наши проекты',
          url: '#modalInDev',
        },
        {
          title: 'Отзывы',
          url: '#modalInDev',
        },
      ]
    },
  ]
