-
  var cards = [
    {
      link: '#modalInDev',
      className: 'part-time slack',
      title: 'Slack',
      description: 'Be inspired by 3000+ UX/UI designers in over 121 countries',
      btnWithImg: 'true',
      btnClass: 'outline image-buton',
      btnSrc: 'https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5f8e97a7f04a9f81c49402de_logo_slack.png',
      btnImgClass: 'slack-logo',
      btnText: 'Join for free',
    },
    {
      link: '#modalInDev',
      className: 'part-time events',
      title: 'Workshops',
      description: 'Pop along and learn live with our Memorisely Educators every Wednesday',
      btnText: 'View workshops →',
    },
    {
      link: '#modalInDev',
      className: 'ds running',
      title: 'Clubs',
      description: 'Meet like-minded designers who share your hobby around the world.',
      btnText: 'View workshops →',
    },
    {
      link: '#modalInDev',
      className: 'challenge',
      title: 'Design challenge',
      description: 'Take on our monthly UX/UI challenge and bulk out your portfolio.',
      btnText: 'View workshops →',
    },
  ]
