mixin section-with-comments

  .container.w-container
    .section
      +line-dotted
      +section-row-text(
        'Our UX/UI community',
        'Click with 3000+ friendly UX/UI Designers',
        'At the heart of Memorisely is our friendly UX/UI tribe of 3000+ UX/UI designers around the world who come together everyday to learn from each other.'
      )

      include nav-cards.data.pug

      +nav-cards(cards, 'quad', 'wow fadeInUp')

      .border-break
      .tribe-tesimonial-container

        include section-with-comments.data.pug

        .tribe-column.left-column
          each review in reviews[0]
            +review-item(review)

        .tribe-column.central-column
          each review in reviews[1]
            +review-item(review)

        .tribe-column.right-column
          each review in reviews[2]
            +review-item(review)
