.application-logo-link {
  position: initial;
}

#submit {
  transition: opacity 0.1s;

  &:disabled {
    opacity: 0.75;
  }
}

.tool-tip {
  display: inline-block;
  width: 100%;
}

.tool-tip [disabled] {
  pointer-events: none;
}

