-
  var reviewsOnePart = [
    [
      {
        'name': 'Виктория',
        'position': 'Артдиректор',
        'avatar': 'viktoria',
        'text': '"Укрепила то, что я знала когда-то давно, со школьных времён, и позволила мне бросить вызов своим собственным страхам."',
      },
      {
        'name': 'Вероника',
        'position': 'Менеджер по продажам',
        'avatar': 'veronika',
        'text': '"Было приятно находиться в учебном пространстве с людьми со всего мира. Я думаю, что в целом атмосфера очень позитивная. Занятия разработаны очень хорошо, легко отслеживать свои результаты и оставаться сосредоточенным."',
      },
      {
        'name': 'Олег',
        'position': 'Ведущий',
        'avatar': 'oleg',
        'text': '"Всё способствовало комфортному и успешному обучению: группа небольшого размера и адекватная цена. Атмосфера была очень дружелюбная и материал буквально “ разжёвывался” преподавателем,  для меня это было важно."',
      },
    ],
    [
      {
        'name': 'Слава',
        'position': 'Директор по продажам',
        'avatar': 'slava',
        'text': '"Быстрый темп учебы и дружественная обстановка. Без воды ,всё как я люблю."',
      },
      {
        'name': 'Наталья',
        'position': 'Программист',
        'avatar': 'natali',
        'text': '"Мой опыт работы был только положительным - продолжительность этого курса очень комфортная и приспосабливается к моему графику. Я нуждалась в обновлении знаний и повышения уровня английского для работы. А также была довольна содержанием курса."',
      },
      {
        'name': 'Оля',
        'position': 'Логист',
        'avatar': 'olya',
        'text': '"10/10 -это моя объективная оценка ! Учила английский для работы , и это было моё самое грамотное финансовое вложение в себя за последнее время."',
      },
    ],
    [
      {
        'name': 'Наташа',
        'position': 'консультант по продажам',
        'avatar': 'natali_2',
        'text': '"LovEng” помог мне обрести понимание и уверенность в разговорной речи. Я всегда много путешествовала, но не уверенность в моём английском, лишала меня возможности иметь полноценный отдых. Теперь, у меня большой словарный запас,и я с лёгкостью могу решить любой вопрос.',
      },
      {
        'name': 'Наташа',
        'position': 'Программист',
        'avatar': 'natali_3',
        'text': '"Узнала много нового .Прошла этап с А1 до B2 и ни капли не жалею, что остановилась на выборе именно этой платформы . Веселая динамичная среда и возможность учиться в любое время – огромный плюс!"',
      },
    ],
  ]
