-
  var reviewsTwoPart = [
    [
      {
        'name': 'Орнелла',
        'position': 'школьница',
        'avatar': 'ornella',
        'text': '"Ребёнок сильно отставал по программе.Тяжело было заставить заниматься, но после первого урока ситуация изменилась кардинально.С удовольствием выходит на занятия и делает всё домашнее задание."',
      },
    ],
    [
      {
        'name': 'Яна',
        'position': 'школьница',
        'avatar': 'yana',
        'text': '"Заряжающие занятия и высококлассная методология, основанная на обучении на практике.Я могу смело сказать, что это лучшая платформа для всех, кто хочет выучить английский язык и активно использовать его в своей жизни !"',
      },
    ],
    [
      {
        'name': 'Ян',
        'position': 'школьник',
        'avatar': 'yan',
        'text': '"Английский всегда был самым сложным предметом в школе, кучу грамматики и бесполезных слов.Так я считал до занятий на платформе.Теперь всё стало понятно и легко, спасибо!"',
      },
    ],
  ]
