-
  var reviewsTwoPart = [
    [
      {
        'name': 'Connor',
        'position': 'Product Designer',
        'country': '🇬🇧',
        'text': '"Do it! You\'re working with the most up to date processes, tools, and best practices whilst collaborating with other designers all done in a positive vibe. Your confidence as a designer will grow."',
      },
    ],
    [
      {
        'name': 'Flavio',
        'position': 'Product Designer',
        'country': '🇬🇧',
        'text': '"The amount of content and how it is presented. There is so much packed in each Bootcamp session! No PowerPoint slides, or PDFs, just content and hands-on exercises in Figma and everything else we need in Notion. Best investment you will make in a while! So much value not just on the Bootcamps, but in being part of the Memorisely community."',
      },
    ],
    [
      {
        'name': 'Subhash',
        'position': 'Product Designer',
        'country': '🇺🇸',
        'text': '"The course was very hands-on and I was able to learn a lot about all the construction stages. Zander explained the theory and gave activities that clarified the stages of the design process. The mixed dynamics of theory and practice of the course made me build a design system very easily. I highly recommend Memorisely Remote Bootcamps."',
      },
    ],
  ]
