-
  var reviewsOnePart = [
    [
      {
        'name': 'Matthew',
        'position': 'Product Designer',
        'country': '🇺🇸',
        'text': '"Memorisely has reinforced what I\'ve known as a UI/UX designer and has enabled me to challenge my own assumptions to become a better designer by teaching today\'s latest tools with a hands-on approach to problem solving, creative thinking, and design."',
      },
    ],
    [
      {
        'name': 'Hadria',
        'position': 'Product Designer',
        'country': '🇫🇷',
        'text': '"It was just very nice to be in a learning space with people from all over the world. I think in general the vibe is super positive. Feels like a safe space to me. The classes are very well designed for interaction with each other so its easy to follow and stay focus. Even tired and late at night 🙈"',
      },
    ],
    [
      {
        'name': 'Mateen',
        'position': 'Product Designer',
        'country': '🇸🇬',
        'text': '"My experience with the Bootcamp have been nothing but positive - The duration of this Bootcamp is very suitable and accommodating to my schedule as well as it is not too long or short.At the same time, I needed a refresher for UX to upgrade my skills and was intrigued by the course content so that I can be more confident as a designer."',
      },
    ],
  ]
