//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header

  .navbar.full-bar
    .navbar-marketing
      +logo('/', 'navbar-logo-container w-inline-block w--current')
        .navbar-logo-image
        .logo-text Memorisely

      .navbar-item-container
        +live-dot
        block nav
          +main-nav('')
        .gap
        +btn('Посмотреть учебные курсы', 'outline nav-outline w-button')

      #openSidebar.outline.hide-desktop Menu
