//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header

  .navbar.full-bar
    .navbar-marketing
      +logo('/', 'navbar-logo-container w-inline-block w--current')
        img(src="img/logo.svg", loading="lazy", alt="логотип с текстом loveng", width=200, height=47)

      .navbar-item-container
        +live-dot('nav')
        block nav
          +main-nav('')
        .gap
        .phones-wrapper
          a.btn-vb(href="viber://chat?number=375292854338")
          a.btn-tg(href="https://telegram.me/lovengby")
          a.btn-ws(href="https://wa.me/375292854338")
        a.outline.nav-outline.w-button.btn-contact(href="tel:+375(29) 285-43-38") +375(29) 285-43-38

      #openSidebar.outline.hide-desktop Меню
