-
  var productInfo = {
    id: "link-teacher",
    title: "Design System Teacher",
    subtitle: "Learn from UX/UI design experts",
    author: "Zander Whitehurst",
    authorRole: "Founder of Memorisely",
    description: '"Hey! My name is Zander and I\'m the founder of Memorisely. I studied at Oxford University, New York University, and was an early member of Hotjar\'s remote product design team. I\'ve been a product designer for eight years working in NYC, London, Sydney, and South East Asia. I\'m a super enthusiastic teacher and don\'t believe in powerpoint presentations."',
    btn: "Ask me anything",
  }
