-
  var productInfo = {
    id: "link-teacher",
    title: "НАШИ ПРЕПОДАВАТЕЛИ",
    subtitle: "Учитесь английскому у продвинутых и заряженных преподавателей ",
    author: "Савкина Юля",
    authorRole: "Основатель компании LOVENG",
    description: '"Привет! Меня зовут Юля, и я основательница платформы Loveng. Я всегда была влюблена в английский язык, и за это время у меня было большое количество учеников, которые успешно освоили программу и теперь уверенно используют язык в своей жизни и работе. Я очень увлеченный и современный преподаватель, который верит в только в положительный результат, и использует самые современные методики в обучении языка. Я всегда стремлюсь «выпить кофе» с людьми ,прежде чем они записываются на мой курс, что позволяет мне ответить на ваши вопросы и познакомиться ближе. Это сделает наши занятия более эффективными и теплыми."',
    btn: "☕️ Запланируйте кофе",
  }
