mixin section-video

  .container.dark.w-container
    .section
      +line-dotted
      +section-row-text(
        'ОНЛАЙН МИКРО КЛАССЫ',
        'Начните учить язык прямо сейчас!',
        'Мы делаем все возможное, чтобы сделать обучение легким и доступным для вас. Вы можете учиться в любом месте, в независимости от вашего местоположения или времени суток.'
      )
      .large-break
      .row._100
        .video-container.wow.fadeInUp
          .video-2.w-video.w-embed.wow.fadeInUp
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/Ncw-XN7MIws', frameborder='0', allowfullscreen='')

