mixin section-video

  .container.dark.w-container
    .section
      +line-dotted
      +section-row-text(
        'MICRO ONLINE CLASSES',
        'Learn-by-doing with a micro class around the world',
        'Memorisely is an affordable, accessible way to learn UX/UI online with designers around the world. We connect you with 10 designers around the world and teach you live wherever you are with the latest real-time design tools.'
      )
      .large-break
      .row._100
        .video-container.wow.fadeInUp
          .video-2.w-video.w-embed.wow.fadeInUp
            +embed-responsive()
              iframe(src='https://www.youtube.com/embed/Ncw-XN7MIws', frameborder='0', allowfullscreen='')

