mixin section-logos-img(src, name)
  img(
    src=src
    alt="logo company" + name
    class="logo-image"
    loading="lazy"
  )

mixin section-logos

  .container.w-container(data-w-id="825fdb88-c553-b16d-1284-24ff5d020317")
    .section.center-align.small-section
      +line-dotted

      .w-layout-grid.company-logo
        +section-logos-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5fcf77a38845a058547eb739_amazon_logo.png', 'amazon')
        +section-logos-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5fcf77c26a885a56f8ec1889_google_logo.png', 'google')
        +section-logos-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5fcf77d69e3da0830705f71e_miscrosoft_logo.png', 'miscrosoft')
        +section-logos-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5fcf77e327644168aab7f873_revolut_logo.png', 'revolut')
        +section-logos-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5fcf77f7f49ad24e9f8c7fb7_uber_logo.png', 'uber')
        +section-logos-img('https://uploads-ssl.webflow.com/5f8e97a7f04a9fe98d9401a6/5fcf7884bde100b858931c70_salesforce%20logo.png', 'salesforce')
