mixin section-logos-img(src, name)
  img(
    src=src
    alt="logo company" + name
    class="logo-image"
    loading="lazy"
  )

mixin section-logos

  .container.w-container
    .section.center-align.small-section
      +line-dotted

      .w-layout-grid.company-logo
        +section-logos-img('img/logos/amazon_logo.jpg', 'amazon')
        +section-logos-img('img/logos/google_logo.jpg', 'google')
        +section-logos-img('img/logos/miscrosoft_logo.jpg', 'miscrosoft')
        +section-logos-img('img/logos/revolut_logo.jpg', 'revolut')
        +section-logos-img('img/logos/uber_logo.jpg', 'uber')
        +section-logos-img('img/logos/salesforce_logo.jpg', 'salesforce')
