-
  var navigationLinks = [
    {
      title: "название 1",
      links: [
        {
          title: "Overview",
          url:"#link-overview",
        },
        {
          title: "Curriculum",
          url: "#link-curric",
        },
        {
          title: "Schedule",
          url: "#link-sched",
        },
        {
          title: "Teacher",
          url: "#link-teacher",
        },
        {
          title: "Tools",
          url: "#link-tools",
        },
        {
          title: "Micro Class",
          url: "#link-class",
        },
        {
          title: "Alumni",
          url: "#link-alumn",
        },
        {
          title: "Pricing",
          url: "#link-pricing",
        },
        {
          title: "Next Bootcamp",
          url: "#link-next",
        },
        {
          title: "Questions",
          url: "#link-questions",
        },
      ]
    },
    {
      title: "название 2",
      links: [
        {
          title: "Overview",
          url:"#link-overview",
        },
        {
          title: "Curriculum",
          url: "#link-curric",
        },
        {
          title: "Schedule",
          url: "#link-sched",
        },
        {
          title: "Teacher",
          url: "#link-teacher",
        },
        {
          title: "Tools",
          url: "#link-tools",
        },
        {
          title: "Micro Class",
          url: "#link-class",
        },
        {
          title: "Alumni",
          url: "#link-alumn",
        },
        {
          title: "Pricing",
          url: "link-pricing",
        },
        {
          title: "Next Bootcamp",
          url: "#link-next",
        },
        {
          title: "Questions",
          url: "#link-questions",
        },
      ]
    },
    {
      title: "название 3",
      links: [
        {
          title: "Overview",
          url:"#link-overview",
        },
        {
          title: "Curriculum",
          url: "#link-curric",
        },
        {
          title: "Schedule",
          url: "#link-sched",
        },
        {
          title: "Teacher",
          url: "#link-teacher",
        },
        {
          title: "Tools",
          url: "#link-tools",
        },
        {
          title: "Micro Class",
          url: "#link-class",
        },
        {
          title: "Alumni",
          url: "#link-alumn",
        },
        {
          title: "Pricing",
          url: "link-pricing",
        },
        {
          title: "Next Bootcamp",
          url: "#link-next",
        },
        {
          title: "Questions",
          url: "#link-questions",
        },
      ]
    },
  ]
