-
  var navigationLinks = {
    links: [
      {
        title: "Общие сведения",
        url: "#link-overview",
      },
      {
        title: "Учебный план",
        url: "#link-curric",
      },
      {
        title: "Расписание",
        url: "#link-sched",
      },
      {
        title: "Преподаватели",
        url: "#link-teacher",
      },
      {
        title: "Инструменты",
        url: "#link-tools",
      },
      {
        title: "Микро классы",
        url: "#link-class",
      },
      {
        title: "Выпускники",
        url: "#link-alumn",
      },
      {
        title: "Цены",
        url: "#link-pricing",
      },
      {
        title: "Ближайшие даты",
        url: "#link-next",
      },
      {
        title: "Вопросы",
        url: "#link-questions",
      },
    ]
  };

  var navigationTitle = [
    "Английский для путешественников",
    "Английский для школьников",
    "Английский для компаний",
  ];
