-
  var productInfo = [
    {
      id: "link-pricing",
      text1: "Pricing",
      text2: "Transparent and accessible pricing",
      text3: "Unlike other courses who tuck away their prices, we are totally transparent with our online Bootcamp pricing and take pride in being accessible and affordable with a monthly payment plan available.",
    },
    {
      id: "link-pricing",
      text1: "Pricing",
      text2: "Transparent and accessible pricing",
      text3: "Unlike other courses who tuck away their prices, we are totally transparent with our online Bootcamp pricing and take pride in being accessible and affordable with a monthly payment plan available.",
    },
    {
      id: "link-pricing",
      text1: "Pricing",
      text2: "Transparent and accessible pricing",
      text3: "Unlike other courses who tuck away their prices, we are totally transparent with our online Bootcamp pricing and take pride in being accessible and affordable with a monthly payment plan available.",
    },
  ];


  var prices = [
    {
      one: {
        name: "PAY TODAY",
        title: "Pay today",
        price: "750$",
        price_week: "150$",
        price_discount: "100$",
        price_after_discount: "650$",
        price_after_discount_week: "130$",
        list: [
          "Receive Design System certificate",
          "Join Bootcamp events",
          "Grab 1:1 time with your teacher",
        ],
      },
      two: {
        name: "PAY MONTHLY",
        title: "Pay today",
        price: "750$",
        price_week: "150$",
        price_discount: "100$",
        price_after_discount: "650$",
        price_after_discount_week: "130$",
        list: [
          "Receive Design System certificate",
          "Join Bootcamp events",
          "Grab 1:1 time with your teacher",
        ],
      }
    },
    {
      one: {
        name: "PAY TODAY",
        title: "Pay today",
        price: "750$",
        price_week: "150$",
        price_discount: "100$",
        price_after_discount: "650$",
        price_after_discount_week: "130$",
        list: [
          "Receive Design System certificate",
          "Join Bootcamp events",
          "Grab 1:1 time with your teacher",
        ],
      },
      two: {
        name: "PAY MONTHLY",
        title: "Pay today",
        price: "750$",
        price_week: "150$",
        price_discount: "100$",
        price_after_discount: "650$",
        price_after_discount_week: "130$",
        list: [
          "Receive Design System certificate",
          "Join Bootcamp events",
          "Grab 1:1 time with your teacher",
        ],
      }
    },
    {
      one: {
        name: "PAY TODAY",
        title: "Pay today",
        price: "750$",
        price_week: "150$",
        price_discount: "100$",
        price_after_discount: "650$",
        price_after_discount_week: "130$",
        list: [
          "Receive Design System certificate",
          "Join Bootcamp events",
          "Grab 1:1 time with your teacher",
        ],
      },
      two: {
        name: "PAY MONTHLY",
        title: "Pay today",
        price: "750$",
        price_week: "150$",
        price_discount: "100$",
        price_after_discount: "650$",
        price_after_discount_week: "130$",
        list: [
          "Receive Design System certificate",
          "Join Bootcamp events",
          "Grab 1:1 time with your teacher",
        ],
      }
    },
  ]
