-
  var productInfo = {
    id: "link-pricing",
    text1: "ЦЕНЫ",
    text2: "Прозрачная и гибкая система платежей",
    text3: "В отличие от других курсов, которые скрывают свои цены, мы полностью прозрачны и гордимся тем, что являемся доступными. Осталось только определиться: индивидуальные или групповые занятия.",
  };

  var prices = [
    {
      one: {
        name: "Оплатить сегодня",
        title: "Cегодня · <span class='highlight'>Сэкономьте свои деньги</span>",
        discount_text: "🎉 Скидка сегодня",
        price: "100%",
        price_week: "-20%",
        price_discount: "-20%",
        price_after_discount: "80%",
        price_after_discount_week: "",
        list: [
          "Интенсивные занятия",
          "Новая лексика",
          "Проработка грамматики",
          "Просмотр видео",
          "Топ 50 фраз для путешествий",
          "Живые диалоги",
          "Постановка произношения",
          "Аудирование",
          "Актуальный сленг",
          "Интересные подкасты",
        ],
      },
      two: {
        name: "План платежей",
        title: "3 ежемесячных платежа",
        discount_text: "🎉 3 ежемесячных платежа",
        price: "",
        price_week: "33%",
        price_discount: "33%",
        price_after_discount: "100%",
        price_after_discount_week: "",
        list: [
          "Интенсивные занятия",
          "Новая лексика",
          "Проработка грамматики",
          "Просмотр видео",
          "Топ 50 фраз для путешествий",
          "Живые диалоги",
          "Постановка произношения",
          "Аудирование",
          "Актуальный сленг",
          "Интересные подкасты",
        ],
      }
    },
    {
      one: {
        name: "Оплатить сегодня",
        title: "Cегодня · <span class='highlight'>Сэкономьте свои деньги</span>",
        discount_text: "🎉 Скидка сегодня",
        price: "100%",
        price_week: "-20%",
        price_discount: "-20%",
        price_after_discount: "80%",
        price_after_discount_week: "",
        list: [
          "Интенсивные занятия",
          "Постановка произношения",
          "Новая лексика",
          "Проработка грамматики",
          "Живые диалоги",
          "Аудирование",
          "Просмотр видео",
          "Актуальный сленг",
          "Помощь с домашним заданием",
        ],
      },
      two: {
        name: "План платежей",
        title: "3 ежемесячных платежа",
        discount_text: "🎉 3 ежемесячных платежа",
        price: "",
        price_week: "33%",
        price_discount: "33%",
        price_after_discount: "100%",
        price_after_discount_week: "",
        list: [
          "Интенсивные занятия",
          "Постановка произношения",
          "Новая лексика",
          "Проработка грамматики",
          "Живые диалоги",
          "Аудирование",
          "Просмотр видео",
          "Актуальный сленг",
          "Помощь с домашним заданием",
        ],
      }
    },
    {
      one: {
        name: "Оплатить сегодня",
        title: "Cегодня · <span class='highlight'>Сэкономьте свои деньги</span>",
        discount_text: "🎉 Скидка сегодня",
        price: "100%",
        price_week: "-20%",
        price_discount: "-20%",
        price_after_discount: "80%",
        price_after_discount_week: "",
        list: [
          "Продуктивные переговоры без помощи переводчика",
          "Переписка с партнерами и клиентами на английском языке",
          "Поддержание неформальной беседы",
          "Актуальный сленг",
          "Интенсивные занятия",
          "Новая лексика",
          "Живые диалоги",
          "Постановка произношения",
          "Просмотр видео",
        ],
      },
      two: {
        name: "План платежей",
        title: "3 ежемесячных платежа",
        discount_text: "🎉 3 ежемесячных платежа",
        price: "",
        price_week: "33%",
        price_discount: "33%",
        price_after_discount: "100%",
        price_after_discount_week: "",
        list: [
          "Продуктивные переговоры без помощи переводчика",
          "Переписка с партнерами и клиентами на английском языке",
          "Поддержание неформальной беседы",
          "Актуальный сленг",
          "Интенсивные занятия",
          "Новая лексика",
          "Живые диалоги",
          "Постановка произношения",
          "Просмотр видео",
        ],
      }
    },
  ]
