-
  var productInfo = {
    id: "link-pricing",
    text1: "ЦЕНЫ",
    text2: "Прозрачная и гибкая система платежей",
    text3: "В отличие от других курсов, которые скрывают свои цены, мы полностью прозрачны и гордимся тем, что являемся доступными. Осталось только определиться: индивидуальные или групповые занятия.",
  };

  var prices = [
    {
      one: {
        name: "Оплатить сегодня",
        title: "Оплатите сегодня",
        price: "$",
        price_week: "$",
        price_discount: "$",
        price_after_discount: "$",
        price_after_discount_week: "$",
        list: [
          "Интенсивные занятия",
          "Новая лексика",
          "Проработка грамматики",
          "Просмотр видео",
          "Топ 50 фраз для путешествий",
          "Живые диалоги",
          "Постановка произношения",
          "Аудирование",
          "Актуальный сленг",
          "Интересные подкасты",
        ],
      },
      two: {
        name: "Платить ежемесячно",
        title: "3 ежемес. платежа",
        price: "$",
        price_week: "$",
        price_discount: "$",
        price_after_discount: "$",
        price_after_discount_week: "$",
        list: [
          "Интенсивные занятия",
          "Новая лексика",
          "Проработка грамматики",
          "Просмотр видео",
          "Топ 50 фраз для путешествий",
          "Живые диалоги",
          "Постановка произношения",
          "Аудирование",
          "Актуальный сленг",
          "Интересные подкасты",
        ],
      }
    },
    {
      one: {
        name: "PAY TODAY",
        title: "Pay today",
        price: "$",
        price_week: "$",
        price_discount: "$",
        price_after_discount: "$",
        price_after_discount_week: "$",
        list: [
          "Интенсивные занятия",
          "Постановка произношения",
          "Новая лексика",
          "Проработка грамматики",
          "Живые диалоги",
          "Аудирование",
          "Просмотр видео",
          "Актуальный сленг",
          "Помощь с домашним заданием",
        ],
      },
      two: {
        name: "PAY MONTHLY",
        title: "Pay today",
        price: "$",
        price_week: "$",
        price_discount: "$",
        price_after_discount: "$",
        price_after_discount_week: "$",
        list: [
          "Интенсивные занятия",
          "Постановка произношения",
          "Новая лексика",
          "Проработка грамматики",
          "Живые диалоги",
          "Аудирование",
          "Просмотр видео",
          "Актуальный сленг",
          "Помощь с домашним заданием",
        ],
      }
    },
    {
      one: {
        name: "PAY TODAY",
        title: "Pay today",
        price: "$",
        price_week: "$",
        price_discount: "$",
        price_after_discount: "$",
        price_after_discount_week: "$",
        list: [
          "Продуктивные переговоры без помощи переводчика",
          "Переписка с партнерами и клиентами на английском языке",
          "Поддержание неформальной беседы",
          "Актуальный сленг",
          "Интенсивные занятия",
          "Новая лексика",
          "Живые диалоги",
          "Постановка произношения",
          "Просмотр видео",
        ],
      },
      two: {
        name: "PAY MONTHLY",
        title: "Pay today",
        price: "$",
        price_week: "$",
        price_discount: "$",
        price_after_discount: "$",
        price_after_discount_week: "$",
        list: [
          "Продуктивные переговоры без помощи переводчика",
          "Переписка с партнерами и клиентами на английском языке",
          "Поддержание неформальной беседы",
          "Актуальный сленг",
          "Интенсивные занятия",
          "Новая лексика",
          "Живые диалоги",
          "Постановка произношения",
          "Просмотр видео",
        ],
      }
    },
  ]
