extends ../pug/layout.pug

block meta

block variables

block content

  include ../blocks/products-wrapper/products-wrapper.data.pug
  +product-item(products[productIndex])

  .container.sticky-time.w-container
    .section.sticky
      +line-dotted
      .bootcamp-section
        include ../blocks/sticky-navigation/sticky-navigation.data.pug
        +sticky-navigation(navigationLinks, navigationTitle[productIndex])

        .bootcamp-column
          .bootcamp-row
            +section-video-bootcamp(productIndex)
            .extra-large-break
            +section-plan(productIndex)
            .extra-large-break
            +section-schedule(productIndex)

            +quote(
              "Если вы знаете языки, вы везде будете как дома.",
              "Эдмунд дэ Вааль"
            )

            +product-tabs(productIndex)
            .extra-large-break

            include ../blocks/section-title-half-img-text/product-info.data.pug
            +section-title-half-img-text(productInfo)
            .extra-large-break

            +section-tools(productIndex)

            +section-title-full-img-text(productIndex)
            .extra-large-break

            +product-reviews(productIndex)
            .extra-large-break
            +product-prices(productIndex)
            .extra-large-break
            +product-start-plan(productIndex)
            .extra-large-break
            +product-question(productIndex)

  +section-bg-text



block append page-bottom
  script(src='js/product-page.js')
