mixin section-row-text(className, dataWId1, text1, dataWId2, text2, dataWId3, text3)

  div(class=className)
    .title(data-w-id=dataWId1)= text1
    h3(data-w-id=dataWId2)= text2
    .large-text(data-w-id=dataWId3)= text3
