mixin menu-dropdown-schedule

  .dropdown-list.w-dropdown-list.w--open.d-none
    .footer-header.green
      .capitals.bold Наши проекты

    .nav-column-container
      include nav-cards.data.pug
      +nav-cards(cards, 'quad')
