-
  var tools = [
    {
      url: '#modalInDev',
      class: '',
      title: 'Notion Club',
      description: 'Join our Notion Club and learn from likeminded Notionites',
    },
    {
      url: '#modalInDev',
      class: 'figma-logo',
      title: 'Figma Club',
      description: 'Ask questions, collab on files and click with fellow Figma folk',
    },
    {
      url: '#modalInDev',
      class: 'miro-logo',
      title: 'Miro Club',
      description: 'Learn the magic of Miro with our club of Miro facilitators',
    },
  ]
