extends ../pug/layout.pug

block meta
  title Memorisely
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content

  +sidebar

  +section-text-heroes

  +section-logos

  +section-faces

  +section-product

  +section-video

  +section-metric

  .container.w-container
    .section
      +line-dotted
      .haq.wow.fadeInUp
      .large-break
      +section-row-text(
        'BOOTCAMP Alumni',
        'Meet our Bootcamp Alumni from around the world',
        'We\'re proud to upskill UX / UI designers online from around the world in the latest workflows, and tools. Learn how designers from around the world enjoyed learning online with Memorisely.'
      )
      .medium-break

      +reviews

  +section-with-comments

  +section-our-story

  .container.white.w-container
    .section
      +line-dotted
      +section-row-text(
        'Our Values',
        'What makes Memorisely different',
        'We\'re not driven by money or interested in becoming a mystical unicorn. We happily cut through the noise and teach designers personally, taking a 100% learn-by-doing approach with a zero powerpoint policy.'
      )
      .border-break
      +metrics

  +section-bg-text



  +modal-in-dev
  +modal-contact-form


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
