extends ../pug/layout.pug

block meta
  title Online-курсы английского языка | LovEng
  meta(name='Keywords', content='Курсы английского языка онлайн с LovEng. Изучайте английский язык для путешествий. Онлайн кусы английского языка для школьников и студентов. Корпоративный английский для сотрудников компаний.')
  meta(name='description', content='Online-обучение')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content

  +section-text-heroes

  +section-logos

  +section-faces

  +section-product

  +section-video

  +section-metric

  .container.w-container
    .section
      +line-dotted
      .haq.wow.fadeInUp
      .large-break
      +section-row-text(
        'НАШИ ОТЗЫВЫ',
        'Познакомьтесь с нашими выпускниками',
        'Мы гордимся тем, что после наших занятий студенты забывают о стеснении говорить, смело обращаются с английскими временами и постоянно совершенствуют свой язык.'
      )
      .medium-break

      +reviews

  +section-with-comments

  +section-our-story

  .container.white.w-container
    .section
      +line-dotted
      +section-row-text(
        'НАШИ ЦЕННОСТИ',
        'Что делает Loveng другим',
        'Мы не движимы деньгами, но заинтересованы в том, чтобы получить крутой результат! Мы с радостью преодолеваем проблемы и обучаем вас лично, применяя 100%-ный подход к каждому ученику.'
      )
      .border-break
      +metrics

  +section-bg-text


//- block footer
//-   p footer

block append page-bottom
  script(src='js/index-page.js')
  script(src='//fast.wistia.net/assets/external/iframe-api-v1.js')
