-
  var productInfo = {
    id: "link-next",
    text1: "СЛЕДУЮЩИЙ ПОТОК",
    text2: "Быстро наполняемся!",
    text3: "Наши группы, как правило, заполняются довольно быстро. Поэтому мы открываем их за несколько месяцев. Мы целенаправленно ограничиваем размер класса до 6 учеников, чтобы каждое занятие предлагало личный опыт обучения.",
  };


  var plans = [
    [
      {
        start_month: "Май",
        plan: "3 мая - 30 июля",
        // start_date: "2021, 3, 4",
        title: "Живые онлайн занятия",
        subtitle: "Пн - Ср 9:00 <br> Вт - Пт 11:30 <br> Ср 14:00 - Вс 13:00 <br> Вт - Чт 19:00",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
      {
        start_month: "Июнь",
        plan: "1 Июня - 27 Августа",
        // start_date: "2021, 5, 31",
        title: "Живые онлайн занятия",
        subtitle: "Пн - Ср 9:00 <br> Вт - Пт 11:30 <br> Ср 14:00 - Вс 13:00 <br> Вт - Чт 19:00",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
      {
        start_month: "Июль",
        plan: "5 июля - 1 октября",
        // start_date: "2021, 6, 31",
        title: "Живые онлайн занятия",
        subtitle: "Пн - Ср 9:00 <br> Вт - Пт 11:30 <br> Ср 14:00 - Вс 13:00 <br> Вт - Чт 19:00",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
    ],
    [
      {
        start_month: "Май",
        plan: "3 мая - 30 июля",
        // start_date: "2021, 3, 4",
        title: "Живые онлайн занятия",
        subtitle: "Пн 10:30 <br> Чт - Вс 11:30 <br> Пн - Чт 13:30 <br> Вт - Пт 15:00 <br> Пн 17:00 - Ср 18:00",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
      {
        start_month: "Июнь",
        plan: "1 Июня - 27 Августа",
        // start_date: "2021, 5, 31",
        title: "Живые онлайн занятия",
        subtitle: "Пн 10:30 <br> Чт - Вс 11:30 <br> Пн - Чт 13:30 <br> Вт - Пт 15:00 <br> Пн 17:00 - Ср 18:00",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
      {
        start_month: "Июль",
        plan: "5 июля - 1 октября",
        // start_date: "2021, 6, 31",
        title: "Живые онлайн занятия",
        subtitle: "Пн 10:30 <br> Чт - Вс 11:30 <br> Пн - Чт 13:30 <br> Вт - Пт 15:00 <br> Пн 17:00 - Ср 18:00",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
    ],
    [
      {
        start_month: "Май",
        plan: "3 мая - 30 июля",
        // start_date: "2021, 3, 4",
        title: "Живые онлайн занятия",
        subtitle: "Вт - Чт 10:00 <br> Ср 12:30 - Пт 13:30 <br> Пн 18:30",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
      {
        start_month: "Июнь",
        plan: "1 Июня - 27 Августа",
        // start_date: "2021, 5, 31",
        title: "Живые онлайн занятия",
        subtitle: "Вт - Чт 10:00 <br> Ср 12:30 - Пт 13:30 <br> Пн 18:30",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
      {
        start_month: "Июль",
        plan: "5 июля - 1 октября",
        // start_date: "2021, 6, 31",
        title: "Живые онлайн занятия",
        subtitle: "Вт - Чт 10:00 <br> Ср 12:30 - Пт 13:30 <br> Пн 18:30",
        badge: "Успей записаться   🎉",
        badge_class: "",
      },
    ],
  ]
