-
  var productInfo = {
    id: "link-next",
    text1: "Next Design System Bootcamp",
    text2: "Filling up fast!",
    text3: "Our Bootcamps tend to fill up pretty quickly which is why we open up months in advance. And we purposefully limit class sizes to 10 designers to ensure each bootcamp offers a personal learning experience.",
  };


  var plans = [
    [
      {
        start_month: "Jan",
        plan: "Jan 4th - Feb 5th",
        start_date: "2021, 0, 4",
        title: "Lunch Bootcamp",
        subtitle: "Tue 路 12pm-2pm GMT",
        badge: " Full Class",
        badge_class: "green",
      },
      {
        start_month: "May",
        plan: "May 31st - July 2nd",
        start_date: "2021, 4, 31",
        title: "Design System Bootcamp",
        subtitle: "Tue 路 3-5pm",
        badge: "6 seats left",
        badge_class: "",
      },
    ],
    [
      {
        start_month: "Jan",
        plan: "Jan 4th - Feb 5th",
        start_date: "2021, 0, 4",
        title: "Lunch Bootcamp",
        subtitle: "Tue 路 12pm-2pm GMT",
        badge: " Full Class",
        badge_class: "green",
      },
      {
        start_month: "May",
        plan: "May 31st - July 2nd",
        start_date: "2021, 4, 31",
        title: "Design System Bootcamp",
        subtitle: "Tue 路 3-5pm",
        badge: "6 seats left",
        badge_class: "",
      },
    ],
    [
      {
        start_month: "Jan",
        plan: "Jan 4th - Feb 5th",
        start_date: "2021, 0, 4",
        title: "Lunch Bootcamp",
        subtitle: "Tue 路 12pm-2pm GMT",
        badge: " Full Class",
        badge_class: "green",
      },
      {
        start_month: "May",
        plan: "May 31st - July 2nd",
        start_date: "2021, 4, 31",
        title: "Design System Bootcamp",
        subtitle: "Tue 路 3-5pm",
        badge: "6 seats left",
        badge_class: "",
      },
    ],
  ]
