-
  var productInfo = {
    id: "link-questions",
    text1: "Bootcamp Questions",
    text2: "Got a question about our Bootcamp?",
    text3: "Chances are at this stage you have a couple questions. We encourage our students to ask questions directly and you can arrange a quick call with us anytime.",
  };


  var questions = [
    [
      {
        question: "How many designers in a Bootcamp?",
        answer: "Each bootcamp has 10 designers. For us, it's important to keep these bootcamps super personal. This personal model ensures we can support and motivate 100% of students to graduate and have an awesome experience.",
      },
      {
        question: "How many designers in a Bootcamp?",
        answer: "Each bootcamp has 10 designers. For us, it's important to keep these bootcamps super personal. This personal model ensures we can support and motivate 100% of students to graduate and have an awesome experience.",
      },
    ],
    [
      {
        question: "How many designers in a Bootcamp?",
        answer: "Each bootcamp has 10 designers. For us, it's important to keep these bootcamps super personal. This personal model ensures we can support and motivate 100% of students to graduate and have an awesome experience.",
      },
      {
        question: "How many designers in a Bootcamp?",
        answer: "Each bootcamp has 10 designers. For us, it's important to keep these bootcamps super personal. This personal model ensures we can support and motivate 100% of students to graduate and have an awesome experience.",
      },
    ],
    [
      {
        question: "How many designers in a Bootcamp?",
        answer: "Each bootcamp has 10 designers. For us, it's important to keep these bootcamps super personal. This personal model ensures we can support and motivate 100% of students to graduate and have an awesome experience.",
      },
      {
        question: "How many designers in a Bootcamp?",
        answer: "Each bootcamp has 10 designers. For us, it's important to keep these bootcamps super personal. This personal model ensures we can support and motivate 100% of students to graduate and have an awesome experience.",
      },
    ],
  ]
