-
  var productInfo = {
    id: "link-questions",
    text1: "Вопросы",
    text2: "У вас есть вопрос о нашем курсе?",
    text3: "Скорее всего, на этом этапе у вас есть пара вопросов. Мы рекомендуем нашим студентам задавать вопросы напрямую. Вы можете позвонить нам в любое время или отправить письмо с вашими вопросами.",
  };


  var questions = [
    [
      {
        question: "Сколько студентов в группе?",
        answer: "В каждой группе до 6 студентов. Для нас важно сохранить занятия персонализированными. Эта модель гарантирует то, что мы можем поддерживать и мотивировать 100% студентов к выпуску и иметь потрясающий результат.",
      },
      {
        question: "Подойдёт ли курс для меня?",
        answer: "Наш курс отлично подойдёт для студентов с любым уровнем английского языка. Большинство людей, которые регистрируются, знакомы с английским ещё со школьных времен или университета. Мы в свою очередь готовы обеспечить вас актуальными и важными знаниями, которые будут работать на практике. Наша платформа - это отличная возможность для тех, кто хочет выучить язык или улучшить свои знания.",
      },
      {
        question: "Почему именно мы?",
        answer: "Давайте посмотрим правде в глаза, изучение английского языка никогда не было легким и дешёвым. За последнее десятилетие курсы стоили в среднем 200 долларов и преподавались не всегда с большим энтузиазмом. Мы делаем все немного по-другому. Наша цель - сделать обучение доступным для всех. В отличие от онлайн-курсов, которые продаются за 60 часов+ видео,  Loveng -это захватывающий опыт обучения.",
      },
    ],
    [
      {
        question: "Сколько студентов в группе?",
        answer: "В каждой группе до 6 студентов. Для нас важно сохранить занятия персонализированными. Эта модель гарантирует то, что мы можем поддерживать и мотивировать 100% студентов к выпуску и иметь потрясающий результат.",
      },
      {
        question: "Подойдёт ли курс для меня?",
        answer: "Наш курс отлично подойдёт для школьников и студентов с любым уровнем английского языка. Большинство учеников “теряются“ в школьной программе и, в связи с этим, возникает множество трудностей. Мы в свою очередь готовы обеспечить вас актуальными и важными знаниями, которые будут работать на практике. Наша платформа — это отличная возможность для тех, кто хочет выучить язык или улучшить свои знания.",
      },
      {
        question: "Почему именно мы?",
        answer: "Давайте посмотрим правде в глаза, изучение английского языка никогда не было легким и дешёвым. За последнее десятилетие курсы стоили в среднем 200 долларов и преподавались не всегда с большим энтузиазмом. Мы делаем все немного по-другому. Наша цель - сделать обучение доступным для всех. В отличие от онлайн-курсов, которые продаются за 60 часов+ видео,  Loveng -это захватывающий опыт обучения.",
      },
    ],
    [
      {
        question: "Сколько студентов в группе?",
        answer: "В каждой группе до 6 студентов. Для нас важно сохранить занятия персонализированными. Эта модель гарантирует то, что мы можем поддерживать и мотивировать 100% студентов к выпуску и иметь потрясающий результат.",
      },
      {
        question: "Подойдёт ли курс для меня?",
        answer: "Этот курс предназначен для тех, кто хочет эффективно выучить английский язык. Для тех, для кого пункт на собеседовании “знание английского языка” всегда является провальным. Для тех, кто хочет выходить на международный уровень, расти и не стоять на месте. Присоединяйтесь!",
      },
      {
        question: "Почему именно мы?",
        answer: "Давайте посмотрим правде в глаза, изучение английского языка никогда не было легким и дешёвым. За последнее десятилетие курсы стоили в среднем 200 долларов и преподавались не всегда с большим энтузиазмом. Мы делаем все немного по-другому. Наша цель - сделать обучение доступным для всех. В отличие от онлайн-курсов, которые продаются за 60 часов+ видео,  Loveng -это захватывающий опыт обучения.",
      },
    ],
  ]
