mixin top-link
  a.banner.w-inline-block(href="/")
    .side-space
    .smallish-text.
      🥳 Become a UX/UI Designer in 10 weeks!
    .side-space
    .small-link.banner-link(data-w-id="7b814a5f-06ce-f803-6373-6e9dc15695cb").
      Join our Bootcamp →
