mixin top-link
  a.banner.w-inline-block(href="#modalContactForm", data-toggle="modal")
    .side-space
    .smallish-text.
      🥳 Выучи английский язык вместе с нами за 100 дней!
    .side-space
    .small-link.banner-link.wow.shake(data-wow-iteration="infinite", data-wow-duration="8500ms").
      Присоединиться →
