mixin top-link
  a.banner.w-inline-block(href="/")
    .side-space
    .smallish-text.
      🥳 Become a UX/UI Designer in 10 weeks!
    .side-space
    .small-link.banner-link.wow.shake(data-wow-iteration="infinite", data-wow-duration="8500ms").
      Join our Bootcamp →
