-
  var footerColumns = [
    {
      title: 'ОНЛАЙН ОБУЧЕНИЕ АНГЛИЙСКОМУ',
      links: [
        {
          title: 'Английский для взрослых',
          url: '/product.one.html',
          noModal: true,
        },
        {
          title: 'Английский для детей',
          url: '/product.two.html',
          noModal: true,
        },
        {
          title: 'Английский для компаний',
          url: '/product.three.html',
          noModal: true,
        },
        // {
        //   title: 'Стоимость',
        //   url: '#modalInDev',
        // },
        // {
        //   title: 'Пригласить друга',
        //   url: '#modalInDev',
        // },
      ]
    },
    {
      title: 'LOVENG',
      links: [
        {
          title: 'Наша история',
          url: '/#link-our-story',
          noModal: true,
        },
        {
          title: 'Наши проекты',
          url: '/#link-our-projects',
          noModal: true,
        },
        // {
        //   title: 'Отзывы',
        //   url: '#modalInDev',
        // },
      ]
    },
    {
      title: 'Связаться',
      links: [
        {
          title: 'E -mail',
          url: 'mailto:loveng.by@gmail.com',
          noModal: true,
        },
        {
          title: 'Instagram',
          url: 'https://www.instagram.com/loveng.by/',
          noModal: true,
        },
        {
          title: '+375292854338',
          url: 'tel:+375292854338',
          noModal: true,
        },
        // {
        //   title: 'Вакансии',
        //   url: '#modalInDev',
        //   notify: '1',
        // },
      ]
    },
  ]
