-
  var footerColumns = [
    {
      title: 'Online Bootcamps',
      links: [
        {
          title: 'UX/UI Design · Part-time',
          url: '#modalInDev',
        },
        {
          title: 'Design System · Part-time',
          url: '#modalInDev',
        },
        {
          title: 'Alumni',
          url: '#modalInDev',
        },
        {
          title: 'Pricing',
          url: '#modalInDev',
        },
        {
          title: 'Refer Friends',
          url: '#modalInDev',
        },
      ]
    },
    {
      title: 'Memorisely',
      links: [
        {
          title: 'Our Story',
          url: '#modalInDev',
        },
        {
          title: 'UX/UI Tribe',
          url: '#modalInDev',
        },
        {
          title: 'Design Challenge',
          url: '#modalInDev',
        },
      ]
    },
    {
      title: 'Get in touch',
      links: [
        {
          title: 'Email us',
          url: 'mailto:example@mail.ru',
        },
        {
          title: 'Instagram',
          url: 'https://www.instagram.com/',
        },
        {
          title: 'LinkedIn',
          url: 'https://www.linkedin.com/',
        },
        {
          title: 'Careers',
          url: '#modalInDev',
          notify: '1',
        },
      ]
    },
  ]
