mixin footer-column(column)
  .footer-column
    .footer-header
      .capitals= column.title
    each link in column.links
      .footer-link
        if (link.noModal)
          a(href= link.url)= link.title
        else
          a(href= link.url, data-toggle="modal")= link.title
        if link.notify
          .notify
            span= link.notify


mixin page-footer()

  footer.footer
    .container.footer-container
      .section.footer-block
        +line-dotted
        .w-layout-grid.footer-grid
          div
            +logo('/', 'navbar-logo-container footer-logo w-inline-block')
              img(src="img/logo.svg", loading="lazy", alt="логотип с текстом loveng", width=200, height=47)
            .break
            div
              strong.bold-text-3 © Loveng Ltd 2021
              <br>
              a.small-link(href="#modalInDev", data-toggle="modal") Terms
              span.mr-1.ml-1 &amp;
              a.small-link(href="#modalInDev", data-toggle="modal") Privacy

          include page-footer.data.pug

          each column in footerColumns
            +footer-column(column)
