-
  var footerColumns = [
    {
      title: 'ОНЛАЙН ОБУЧЕНИЕ АНГЛИЙСКОМУ',
      links: [
        {
          title: 'Английский для взрослых',
          url: '#modalInDev',
        },
        {
          title: 'Английский для детей',
          url: '#modalInDev',
        },
        {
          title: 'Английский для компаний',
          url: '#modalInDev',
        },
        {
          title: 'Стоимость',
          url: '#modalInDev',
        },
        {
          title: 'Пригласить друга',
          url: '#modalInDev',
        },
      ]
    },
    {
      title: 'LOVENG',
      links: [
        {
          title: 'Наша история',
          url: '#modalInDev',
        },
        {
          title: 'Наши проекты',
          url: '#modalInDev',
        },
        {
          title: 'Отзывы',
          url: '#modalInDev',
        },
      ]
    },
    {
      title: 'Связаться',
      links: [
        {
          title: 'E -mail',
          url: 'mailto:ulas2625@gmail.com',
          noModal: true,
        },
        {
          title: 'Instagram',
          url: 'https://www.instagram.com/loveng.by/',
          noModal: true,
        },
        {
          title: '+375292854338',
          url: 'tel:+375292854338',
          noModal: true,
        },
        {
          title: 'Вакансии',
          url: '#modalInDev',
          notify: '1',
        },
      ]
    },
  ]
