-
  var productInfo = [
    {
      id: "link-overview",
      text1: "Design System Curriculum",
      text2: "Learn-by-doing and scale your Design System each week",
      text3: "Our online Design System Bootcamp is setup to help you build and iterate on a Design System step-by-step with a practical curriculum that focuses 100% on learn-by-doing. During our Design System Bootcamp you'll learn how to sell, design, manage, and scale a Design System with your team. This Bootcamp is also a super opportunity to level up your UI skills, learning best practices of a huge range of styles, components, and patterns.",
    },
    {
      id: "link-overview",
      text1: "Design System Curriculum",
      text2: "Learn-by-doing and scale your Design System each week",
      text3: "Our online Design System Bootcamp is setup to help you build and iterate on a Design System step-by-step with a practical curriculum that focuses 100% on learn-by-doing. During our Design System Bootcamp you'll learn how to sell, design, manage, and scale a Design System with your team. This Bootcamp is also a super opportunity to level up your UI skills, learning best practices of a huge range of styles, components, and patterns.",
    },
    {
      id: "link-overview",
      text1: "Design System Curriculum",
      text2: "Learn-by-doing and scale your Design System each week",
      text3: "Our online Design System Bootcamp is setup to help you build and iterate on a Design System step-by-step with a practical curriculum that focuses 100% on learn-by-doing. During our Design System Bootcamp you'll learn how to sell, design, manage, and scale a Design System with your team. This Bootcamp is also a super opportunity to level up your UI skills, learning best practices of a huge range of styles, components, and patterns.",
    },
  ];

  plan = [
    [
      {
        title: "Prepwork",
        badge: "Pre-Bootcamp",
        badgeClass: "prep",
        description: {
          text: "As well as meeting your Design System classmates in our Bootcamp slack, you'll be asked to complete prepwork using Figma, Loom, and Notion to get you up to speed on basic component creation and UI principles. During your prep work you'll learn how to identify what's wrong with your product, why you need a Design System and how to assemble your Design System team",
          list: [
            "Meet your classmates in Slack 👋",
            "Create Notion, Figma, and Loom accounts.",
            "Familiarise yourself with Design Systems",
          ]
        },
      },
    ],
    [
      {
        title: "Prepwork",
        badge: "Pre-Bootcamp",
        badgeClass: "prep",
        description: "",
      },
    ],
    [
      {
        title: "Prepwork",
        badge: "Pre-Bootcamp",
        badgeClass: "prep",
        description: "",
      },
    ],
  ]
