mixin review-item(item)

  .testimonial.wow.fadeInUp
    .testimonial-header.wow.fadeInUp
      div(class=item.name.toLowerCase() + ' testimonial-avatar')
      .avatar-text-container
        .regular-text.black= item.name
        .small-text= item.position + ' · ' + item.country
    .testimonial-body
      .regular-text.wow.fadeInUp= item.text
