-
  var productTools = [
    {
      id: "link-tools",
      text1: "Design System tools",
      text2: "Use the latest UX/UI design tools to build your Design System",
      text3: "Our online Bootcamps are designed around the latest remote design tools. Unlike corporate courses that have a fixed toolstack from decades past, we believe it's important to equip designers with the latest toolstack to excel in their career.",
      tools: [
        {
          class: "zoom",
          title: "Zoom",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "figma",
          title: "Figma",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "miro",
          title: "Miro",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "powerpoint",
          title: "Powerpoint",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
      ],
    },
    {
      id: "link-tools",
      text1: "Design System tools",
      text2: "Use the latest UX/UI design tools to build your Design System",
      text3: "Our online Bootcamps are designed around the latest remote design tools. Unlike corporate courses that have a fixed toolstack from decades past, we believe it's important to equip designers with the latest toolstack to excel in their career.",
      tools: [
        {
          class: "zoom",
          title: "Zoom",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "figma",
          title: "Figma",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "miro",
          title: "Miro",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "powerpoint",
          title: "Powerpoint",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
      ],
    },
    {
      id: "link-tools",
      text1: "Design System tools",
      text2: "Use the latest UX/UI design tools to build your Design System",
      text3: "Our online Bootcamps are designed around the latest remote design tools. Unlike corporate courses that have a fixed toolstack from decades past, we believe it's important to equip designers with the latest toolstack to excel in their career.",
      tools: [
        {
          class: "zoom",
          title: "Zoom",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "figma",
          title: "Figma",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "miro",
          title: "Miro",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
        {
          class: "powerpoint",
          title: "Powerpoint",
          description: "Collaborative interface design tool used by remote design team to collaborate live.",
        },
      ],
    },
  ]
