mixin section-tools(productIndex)

  include section-tools.data.pug

  +section-row-test-small(productTools)
  .blog-break
  if (productTools.tools)
    .w-layout-grid.tool-grid.bootamp-tools
      each tool in productTools.tools
        +tool-item-large(tool)
