-
  var productTools = {
    id: "link-tools",
    text1: "ИНСТРУМЕНТЫ РАБОТЫ НА ПЛАТФОРМЕ",
    text2: "Программы, которые делают нашу жизнь проще",
    text3: "Наши занятия разработаны на основе новейших инструментов, которые позволят нам заниматься как в живом классе, только теперь, даже если вы сидите за самой последней партой, видно будет всё!",
    tools: [
      {
        class: "figma",
        title: "Фигма",
        description: "Инструмент совместного использования интерфейса, используемый для удаленной работы с презентациями.",
      },
      {
        class: "miro",
        title: "Miro",
        description: "Белая доска в реальном времени, для проведения занятий.",
      },
      {
        class: "zoom",
        title: "Zoom",
        description: "Приложение для видеоконференций.",
      },
      {
        class: "powerpoint",
        title: "PowerPoint",
        description: "Приложение для презентаций.",
      },
    ],
  };
