-
  var productInfo = [
    {
      id: "link-sched",
      text1: "Design System Schedule",
      text2: "Build a Design System live and together",
      text3: "Our Bootcamps are intense and It will be a lotta work. We pride ourselves on having a schedule that works for busy designers around the world. Every step of the way you'll receive support from your teacher, classmates, and our tribe of thousands of designers around the world! From zoom chats, to loom tutorials; we go the extra mile to help you learn.",
    },
    {
      id: "link-sched",
      text1: "Design System Schedule",
      text2: "Build a Design System live and together",
      text3: "Our Bootcamps are intense and It will be a lotta work. We pride ourselves on having a schedule that works for busy designers around the world. Every step of the way you'll receive support from your teacher, classmates, and our tribe of thousands of designers around the world! From zoom chats, to loom tutorials; we go the extra mile to help you learn.",
    },
    {
      id: "link-sched",
      text1: "Design System Schedule",
      text2: "Build a Design System live and together",
      text3: "Our Bootcamps are intense and It will be a lotta work. We pride ourselves on having a schedule that works for busy designers around the world. Every step of the way you'll receive support from your teacher, classmates, and our tribe of thousands of designers around the world! From zoom chats, to loom tutorials; we go the extra mile to help you learn.",
    },
  ];


  var productSchedule = [
    {
      mobile: [
        {
          class: "",
          title: "Live class",
          time: "1-3pm BST",
          description: "Jump into our live class with designers",
        },
        {
          class: "homework-block",
          title: "Homework",
          time: "2-3hrs",
          description: "Spend time completing your weekly design tasks",
        },
        {
          class: "one-to-one-block",
          title: "Office hours",
          time: "1pm",
          description: "Ask your teacher questions",
        },
        {
          class: "one-to-one-block yoga",
          title: "Yoga",
          time: "4pm",
          description: "Unwind from Bootcamp with Yoga",
        },
      ],
      desktop: {
        time1: "3pm",
        time2: "5pm",
        days: [
          {
            day: "Mon",
            class: "",
            live: "false",
            title: "",
            time: "",
            description: "",
          },
          {
            day: "Tue",
            class: "day-class",
            live: "true",
            title: "Live class",
            time: "3-5pm BST",
            description: "Jump into our live class with designers",
          },
          {
            day: "Wed",
            class: "homework full",
            title: "Homework",
            time: "1hr",
            description: "Review what we coverered in class our Figma Live Class and crack on with your tasks this week.",
          },
          {
            day: "Thue",
            class: "one-to-one yoga ds-yoga",
            title: "Yoga",
            time: "4pm BST",
            description: "Unwind from Bootcamp and get stretchy!",
          },
          {
            day: "Fri",
            class: "one-to-one top-one",
            title: "Office Hours",
            time: "3pm BST",
            description: "Ask questions and check in with your class",
          },
          {
            day: "Weekend",
            class: "homework full",
            title: "Homework",
            time: "3pm BST",
            description: "Wrap up this weeks design System task and enjoy your weekend with family and friends 🎉",
          },
        ]
      },
    },
    {
      mobile: [
        {
          class: "",
          title: "Live class",
          time: "1-3pm BST",
          description: "Jump into our live class with designers",
        },
        {
          class: "homework-block",
          title: "Homework",
          time: "2-3hrs",
          description: "Spend time completing your weekly design tasks",
        },
        {
          class: "one-to-one-block",
          title: "Office hours",
          time: "1pm",
          description: "Ask your teacher questions",
        },
        {
          class: "one-to-one-block yoga",
          title: "Yoga",
          time: "4pm",
          description: "Unwind from Bootcamp with Yoga",
        },
      ],
      desktop: {
        time1: "3pm",
        time2: "5pm",
        days: [
          {
            day: "Mon",
            class: "",
            live: "false",
            title: "",
            time: "",
            description: "",
          },
          {
            day: "Tue",
            class: "day-class",
            live: "true",
            title: "Live class",
            time: "3-5pm BST",
            description: "Jump into our live class with designers",
          },
          {
            day: "Wed",
            class: "homework full",
            title: "Homework",
            time: "1hr",
            description: "Review what we coverered in class our Figma Live Class and crack on with your tasks this week.",
          },
          {
            day: "Thue",
            class: "one-to-one yoga ds-yoga",
            title: "Yoga",
            time: "4pm BST",
            description: "Unwind from Bootcamp and get stretchy!",
          },
          {
            day: "Fri",
            class: "one-to-one top-one",
            title: "Office Hours",
            time: "3pm BST",
            description: "Ask questions and check in with your class",
          },
          {
            day: "Weekend",
            class: "homework full",
            title: "Homework",
            time: "3pm BST",
            description: "Wrap up this weeks design System task and enjoy your weekend with family and friends 🎉",
          },
        ]
      },
    },
    {
      mobile: [
        {
          class: "",
          title: "Live class",
          time: "1-3pm BST",
          description: "Jump into our live class with designers",
        },
        {
          class: "homework-block",
          title: "Homework",
          time: "2-3hrs",
          description: "Spend time completing your weekly design tasks",
        },
        {
          class: "one-to-one-block",
          title: "Office hours",
          time: "1pm",
          description: "Ask your teacher questions",
        },
        {
          class: "one-to-one-block yoga",
          title: "Yoga",
          time: "4pm",
          description: "Unwind from Bootcamp with Yoga",
        },
      ],
      desktop: {
        time1: "3pm",
        time2: "5pm",
        days: [
          {
            day: "Mon",
            class: "",
            live: "false",
            title: "",
            time: "",
            description: "",
          },
          {
            day: "Tue",
            class: "day-class",
            live: "true",
            title: "Live class",
            time: "3-5pm BST",
            description: "Jump into our live class with designers",
          },
          {
            day: "Wed",
            class: "homework full",
            title: "Homework",
            time: "1hr",
            description: "Review what we coverered in class our Figma Live Class and crack on with your tasks this week.",
          },
          {
            day: "Thue",
            class: "one-to-one yoga ds-yoga",
            title: "Yoga",
            time: "4pm BST",
            description: "Unwind from Bootcamp and get stretchy!",
          },
          {
            day: "Fri",
            class: "one-to-one top-one",
            title: "Office Hours",
            time: "3pm BST",
            description: "Ask questions and check in with your class",
          },
          {
            day: "Weekend",
            class: "homework full",
            title: "Homework",
            time: "3pm BST",
            description: "Wrap up this weeks design System task and enjoy your weekend with family and friends 🎉",
          },
        ]
      },
    },
  ]
