-
  var productInfo = [
    {
      id: "link-sched",
      text1: "РАСПИСАНИЕ LOVENG",
      text2: "Расписание онлайн-занятий английскому языку в Loveng",
      text3: "Наши учебные курсы интенсивны, и это отличная новость. Мы гордимся тем, что у нас есть расписание подходящее для всех. На каждом этапе обучения вы будете получать поддержку от своего преподавателя и одногруппников. Выберите удобный для вас день и подходящее время. Дома, в транспорте, на работе – теперь нет границ.",
    },
    {
      id: "link-sched",
      text1: "РАСПИСАНИЕ LOVENG",
      text2: "Расписание онлайн-занятий английскому языку в Loveng",
      text3: "Наши учебные курсы интенсивны, и это отличная новость. Мы гордимся тем, что у нас есть расписание подходящее для всех. На каждом этапе обучения вы будете получать поддержку от своего преподавателя и одногруппников. Выберите удобный для вас день и подходящее время. Дома, в транспорте, на работе – теперь нет границ.",
    },
    {
      id: "link-sched",
      text1: "РАСПИСАНИЕ LOVENG ДЛЯ КОМПАНИЙ",
      text2: "Расписание онлайн-занятий английскому языку в Loveng",
      text3: "Наши учебные курсы интенсивны, и это отличная новость. Мы гордимся тем, что у нас есть расписание подходящее для всех. На каждом этапе обучения вы будете получать поддержку от своего преподавателя и одногруппников. Выберите удобный для вас день и подходящее время. Дома, в транспорте, на работе – теперь нет границ.",
    },
  ];


  var productSchedule = [
    {
      mobile: [
        [
          {
            class: "",
            title: "Групповое занятие",
            live: true,
            time: "Пн 9:00 <br> Вт 11:30 <br> Ср 9:00",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "yellow",
            title: "Домашнее задание",
            time: "Пн 11:00 - 12:00 <br> Чт 10:00",
            description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
          },
          {
            class: "green",
            title: "Персональное занятие",
            time: "Ср 10:30 - 12:00 <br> Пт 9:00 - 11:30 <br> Вс 9:00 - 11:30",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
        [
          {
            class: "",
            title: "Групповое занятие",
            live: true,
            time: "Ср 14:00 <br> Вс 13:00",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "yellow",
            title: "Домашнее задание",
            time: "Вт 13:00 - 14:00",
            description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
          },
          {
            class: "green",
            title: "Персональное занятие",
            time: "Ср 15:00 - 16:00 <br> Чт 15:00",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
        [
          {
            class: "",
            title: "Групповое занятие",
            live: true,
            time: "Вт 19:00 <br> Чт 19:00",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "green",
            title: "Персональное занятие",
            time: "Ср 16:00 - 19:00 <br> Чт 16:00 - 19:00 <br> Пт 16:30 - 18:00",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
      ],
      desktop: [
        {
          time1: "9:00",
          time2: "11:00",
          days: [
            {
              day: "Пн",
              items: [
                {
                  class: "",
                  title: "Групповое занятие",
                  live: true,
                  time: "9:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-40 yellow lunch",
                  title: "Домашнее задание",
                  time: "11:00 - 12:00",
                  description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
                }
              ]
            },
            {
              day: "Вт",
              items: [
                {
                  class: "mt-210  lunch",
                  title: "Групповое занятие",
                  live: true,
                  time: "11:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                }
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "",
                  title: "Групповое занятие",
                  live: true,
                  time: "9:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-20 green lunch custom-width",
                  title: "Персональное занятие",
                  time: "10:30 - 12:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "mt-75 yellow",
                  title: "Домашнее задание",
                  time: "10:00",
                  description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
                }
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: " green custom-width",
                  title: "Персональное занятие",
                  time: "9:00 - 11:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Вс",
              items: [
                {
                  class: " green custom-width",
                  title: "Персональное занятие",
                  time: "9:00 - 11:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
          ]
        },
        {
          time1: "13:00",
          time2: "15:00",
          days: [
            {
              day: "Пн",
              items: []
            },
            {
              day: "Вт",
              items: [
                {
                  class: "yellow",
                  title: "Домашнее задание",
                  time: "13:00 - 14:00",
                  description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
                }
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "mt-50",
                  title: "Групповое занятие",
                  live: true,
                  time: "14:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-10 green lunch custom-width",
                  title: "Персональное занятие",
                  time: "15:00 - 16:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "mt-190 green lunch custom-width",
                  title: "Персональное занятие",
                  time: "15:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Пт",
              items: []
            },
            {
              day: "Вс",
              items: [
                {
                  class: "",
                  title: "Групповое занятие",
                  live: true,
                  time: "13:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                }
              ]
            },
          ]
        },
        {
          time1: "16:00",
          time2: "18:00",
          days: [
            {
              day: "Пн",
              items: []
            },
            {
              day: "Вт",
              items: [
                {
                  class: "lunch",
                  title: "Групповое занятие",
                  live: true,
                  time: "19:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                }
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "green custom-width",
                  title: "Персональное занятие",
                  time: "16:00 - 19:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "green custom-width",
                  title: "Персональное занятие",
                  time: "16:00 - 19:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
                {
                  class: "mt-50  lunch",
                  title: "Групповое занятие",
                  live: true,
                  time: "19:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                }
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: "mt-40 green lunch custom-width",
                  title: "Персональное занятие",
                  time: "16:30 - 18:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Вс",
              items: []
            },
          ]
        },
      ]
    },
    {
      mobile: [
        [
          {
            class: "green",
            title: "Групповое занятие",
            live: true,
            time: "Пн 10:30 <br> Чт 11:30 <br> Вс 11:30",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "yellow",
            title: "Домашнее задание",
            time: "Пн 12:00 <br> Чт 13:00 <br> Вс 13:00",
            description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
          },
          {
            class: "default",
            title: "Персональное занятие",
            time: "Ср 10:30 - 12:00 <br> Пт 9:00 - 11:30  <br> Вс 9:00 - 11:30",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
        [
          {
            class: "green",
            title: "Групповое занятие",
            live: true,
            time: "Пн 13:00 <br> Вт 15:00 <br> Чт 13:30 <br> Пт 15:00",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "default",
            title: "Персональное занятие",
            time: "Пн 14:30 - 17:00 <br> Вт 13:30 <br> Ср 15:30 <br> Чт 15:00",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
        [
          {
            class: "green",
            title: "Групповое занятие",
            live: true,
            time: "Пн 17:00 <br> Ср 18:00",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "default",
            title: "Персональное занятие",
            time: "Пн 16:30 - 19:00 <br> Ср 16:00 - 18:00 <br> Чт 16:00 - 19:00 <br> Пт 16:30 - 18:00",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
      ],
      desktop: [
        {
          time1: "9:00",
          time2: "11:00",
          days: [
            {
              day: "Пн",
              items: [
                {
                  class: "mt-90  green",
                  title: "Групповое занятие",
                  live: true,
                  time: "10:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-20 yellow",
                  title: "Домашнее задание",
                  time: "12:00",
                  description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
                }
              ]
            },
            {
              day: "Вт",
              items: []
            },
            {
              day: "Ср",
              items: [
                {
                  class: "mt-90 default custom-width",
                  title: "Персональное занятие",
                  time: "10:30 - 12:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "mt-210 lunch green",
                  title: "Групповое занятие",
                  live: true,
                  time: "11:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-10 yellow",
                  title: "Домашнее задание",
                  time: "13:00",
                  description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
                }
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "9:00 - 11:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Вс",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "9:00 - 11:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
                {
                  class: "mt-75  green",
                  title: "Групповое занятие",
                  live: true,
                  time: "11:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-10 yellow",
                  title: "Домашнее задание",
                  time: "13:00",
                  description: "Выполняйте домашнее задание,и наслаждайтесь временем с семьёй и друзьями 😊"
                }
              ]
            },
          ]
        },
        {
          time1: "13:00",
          time2: "15:00",
          days: [
            {
              day: "Пн",
              items: [
                {
                  class: " green",
                  title: "Групповое занятие",
                  live: true,
                  time: "13:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-10 default custom-width",
                  title: "Персональное занятие",
                  time: "14:30 - 17:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
              ]
            },
            {
              day: "Вт",
              items: [
                {
                  class: "mt-50 default custom-width",
                  title: "Персональное занятие",
                  time: "13:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
                {
                  class: "mt-10  green",
                  title: "Групповое занятие",
                  live: true,
                  time: "15:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "mt-210 lunch defau custom-widthlt",
                  title: "Персональное занятие",
                  time: "15:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "mt-50 green",
                  title: "Групповое занятие",
                  live: true,
                  time: "13:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
                {
                  class: "mt-10 default custom-width",
                  title: "Персональное занятие",
                  time: "15:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: "mt-190 green lunch",
                  title: "Групповое занятие",
                  live: true,
                  time: "15:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Вс",
              items: []
            },
          ]
        },
        {
          time1: "16:00",
          time2: "18:00",
          days: [
            {
              day: "Пн",
              items: [
                {
                  class: "mt-75  green",
                  title: "Групповое занятие",
                  live: true,
                  time: "17:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Вт",
              items: [
                {
                  class: "mt-50 default custom-width",
                  title: "Персональное занятие",
                  time: "16:30 - 19:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "16:00 - 18:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
                {
                  class: "mt-50  green",
                  title: "Групповое занятие",
                  live: true,
                  time: "18:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "16:00 - 19:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: "mt-50 default custom-width",
                  title: "Персональное занятие",
                  time: "16:30 - 18:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
              ]
            },
            {
              day: "Вс",
              items: []
            },
          ]
        },
      ]
    },
    {
      mobile: [
        [
          {
            class: "yellow",
            title: "Групповое занятие",
            live: true,
            time: "Вт 10:00 <br> Ср 12:30 <br> Чт 10:00",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "default",
            title: "Персональное занятие",
            time: "Ср 10:30 - 12:00 <br> Пт 9:00 - 11:30 <br> Вс 9:00 - 11:30",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
        [
          {
            class: "yellow",
            title: "Групповое занятие",
            live: true,
            time: "Ср 12:30 <br> Пт 13:30",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "default",
            title: "Персональное занятие",
            time: "Пн 14:30 - 17:00 <br> Вт 13:30 - 15:00 <br> Чт 15:00 - 16:00",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
        [
          {
            class: "yellow",
            title: "Групповое занятие",
            live: true,
            time: "Пн 18:30",
            description: "Присоединяйтесь к нашему онлайн занятию"
          },
          {
            class: "default",
            title: "Персональное занятие",
            time: "Вт 16:30 - 19:00 <br> Ср 16:00 - 18:30 <br> Чт 16:00 - 18:30 <br> Пт 16:00 - 18:30",
            description: "Занимайтесь индивидуально с преподавателем"
          },
        ],
      ],
      desktop: [
        {
          time1: "9:00",
          time2: "11:00",
          days: [
            {
              day: "Пн",
              items: []
            },
            {
              day: "Вт",
              items: [
                {
                  class: "mt-70 yellow",
                  title: "Групповое занятие",
                  live: true,
                  time: "10:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                }
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "mt-90 default custom-width",
                  title: "Персональное занятие",
                  time: "10:30 - 12:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
                {
                  class: "mt-40 yellow",
                  title: "Групповое занятие",
                  live: true,
                  time: "12:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "mt-70 yellow",
                  title: "Групповое занятие",
                  live: true,
                  time: "10:00",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "9:00 - 11:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Вс",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "9:00 - 11:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
          ]
        },
        {
          time1: "13:00",
          time2: "15:00",
          days: [
            {
              day: "Пн",
              items: [
                {
                  class: "mt-90 default custom-width",
                  title: "Персональное занятие",
                  time: "14:30 - 17:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                },
              ]
            },
            {
              day: "Вт",
              items: [
                {
                  class: "mt-50 default custom-width",
                  title: "Персональное занятие",
                  time: "13:30 - 15:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "yellow",
                  title: "Групповое занятие",
                  live: true,
                  time: "12:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: " default lunch custom-width",
                  title: "Персональное занятие",
                  time: "15:00 - 16:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: "mt-50 yellow",
                  title: "Групповое занятие",
                  live: true,
                  time: "13:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Вс",
              items: []
            },
          ]
        },
        {
          time1: "16:00",
          time2: "18:00",
          days: [
            {
              day: "Пн",
              items: [
                {
                  class: "mt-210 lunch yellow",
                  title: "Групповое занятие",
                  live: true,
                  time: "18:30",
                  description: "Присоединяйтесь к нашему онлайн занятию"
                },
              ]
            },
            {
              day: "Вт",
              items: [
                {
                  class: "mt-50 default custom-width",
                  title: "Персональное занятие",
                  time: "16:30 - 19:00",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Ср",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "16:00 - 18:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Чт",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "16:00 - 18:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Пт",
              items: [
                {
                  class: "default custom-width",
                  title: "Персональное занятие",
                  time: "16:00 - 18:30",
                  description: "Занимайтесь индивидуально с преподавателем"
                }
              ]
            },
            {
              day: "Вс",
              items: []
            },
          ]
        },
      ]
    },
  ]
