mixin section-bg-text

  .container.promo-image.w-container(data-w-id="a7cfb528-91b6-c5b9-edb0-8640b9cf76a2")
    .section.promo-section(data-w-id="a7cfb528-91b6-c5b9-edb0-8640b9cf76a3")
      .row.quarter-row
        h4.light(data-w-id="a7cfb528-91b6-c5b9-edb0-8640b9cf76a5") Ready to become a UX/UI designer?
        .large-text.light-text(data-w-id="a7cfb528-91b6-c5b9-edb0-8640b9cf76a7").
          As you'll have gathered, we're open and honest and would love to have you join our next Bootcamp!
        .break
        a.outline.image-button.w-inline-block(data-w-id="a7cfb528-91b6-c5b9-edb0-8640b9cf76ad", href="/live-bootcamps").
          View Bootcamps
