mixin section-bg-text

  .container.promo-image.w-container.wow.fadeInUp
    .section.promo-section.wow.fadeInUp
      .row.quarter-row
        h4.light.wow.fadeInUp Ready to become a UX/UI designer?
        .large-text.light-text.wow.fadeInUp.
          As you'll have gathered, we're open and honest and would love to have you join our next Bootcamp!
        .break
        a.outline.image-button.w-inline-block.wow.fadeInUp(href="#modalInDev", data-toggle="modal").
          View Bootcamps
