mixin section-bg-text

  .container.promo-image.w-container.wow.fadeInUp
    .section.promo-section.wow.fadeInUp
      .row.quarter-row
        h4.light.wow.fadeInUp Готов начать прямо сейчас?
        .large-text.light-text.wow.fadeInUp.
          Как вы уже поняли, мы открыты и будем рады, если вы присоединитесь к нам!
        .break
        a.outline.image-button.w-inline-block.wow.fadeInUp(href="#modalContactForm", data-toggle="modal").
          Присоединиться
