mixin hero-face-container(src, name, index)
  img(
    src=src,
    sizes="(max-width: 991px) 100vw, (max-width: 1279px) 94vw, (max-width: 1439px) 1198px, 1358px"
    alt='face teacher ' + name
    class='memorisers-face ' + name + ' memorisers-face_' + index
  )


mixin section-text-heroes

  .container.w-container
    .section.center-align.top-header
      +line-dotted

      .w-layout-grid.hero-columns
        div
          h1.wow.fadeInUp.
            Привет, мы рады видеть тебя тут !
          .large-text.wow.fadeInUp.
            Мы-платформа Loveng!  Добро пожаловать в онлайн мир качественного и интересного изучения английского языка.
          .break
          a.fill.large.mobile-full.w-inline-block.wow.fadeInUp(href="#modalContactForm", data-toggle="modal")
            div Оставить заявку
        .hero-wrapper
          .w-layout-grid.hero-faces
            .hero-face-container
              +hero-face-container('img/hero/hero_1.jpg', 'james', '1')
              img(src="img/arrows/arrow_1.svg", alt="стрелка с текстом 'Coll!'", class="kate-cursor cursor_1")
            .hero-face-container
              +hero-face-container('img/hero/hero_2.jpg', 'eli', '2')
              img(src="img/arrows/arrow_2.svg", alt="стрелка с текстом 'Современно'", class="connor-cursor cursor_2")
            .hero-face-container
              +hero-face-container('img/hero/hero_3.jpg', 'pem', '3')
              img(src="img/arrows/arrow_3.svg", alt="стрелка с текстом 'Увлекательно'", class="rianne-cursor cursor_3")
            .hero-face-container
              +hero-face-container('img/hero/hero_4.jpg', 'laura', '4')
              img(src="img/arrows/arrow_4.svg", alt="стрелка с текстом 'Интересно'", class="cyril-curosr cursor_4")
            .hero-face-container
              +hero-face-container('img/hero/hero_5.jpg', 'jonathan', '5')
              img(src="img/arrows/arrow_5.svg", alt="стрелка с текстом 'Я в восторге'", class="pem-cursor cursor_5")
            .hero-face-container
              +hero-face-container('img/hero/hero_6.jpg', 'kate', '6')
              img(src="img/arrows/arrow_6.svg", alt="стрелка с текстом 'Great!'", class="mauricio cursor_6")
