mixin quote(quoteText, quoteAuthor)

  .hypothesis-quore
    img.image-31(src='img/logos/quote.svg' loading='lazy' alt='quote')
    .large-text.quote
      em= quoteText
      br
    #challenge.title.wow.fadeInUp
      em= quoteAuthor

  .large-break
