mixin section-our-story

  .container.white.w-container
    .section
      +line-dotted
      +section-row-text(
        'НАША ИСТОРИЯ',
        'Loveng – это доступный способ учиться онлайн',
        'Мы делаем свою работу по-другому. С энтузиазмом, любовью и уважением к каждому ученику. Вкладывая знания,опыт и желание сделать уровень ваших знаний лучше!'
      )
      .large-break
      .w-layout-grid.two-columns
        .about
        .bootcamp-testimonials
          .testimonial-header.wow.fadeInUp
            .testimonial-avatar.savkina
            .avatar-text-container
              .regular-text.black Савкина Юля
              .small-text Основатель платформы Loveng
          .break
          .large-text "Давайте посмотрим правде в глаза, изучение английского языка никогда не было легким и дешёвым. За последнее десятилетие курсы стоили в среднем 200 долларов и преподавались не всегда с большим энтузиазмом. Мы делаем все немного по-другому. Наша цель - сделать обучение доступным для всех. <br><br> С Loveng вы не платите дополнительные деньги за то, что мы арендовали крутой офис в центре города. Вам так же не придётся тратить время на дорогу к нам. Мы созданы для того, что где бы вы ни находились, у вас была возможность учиться в реальном времени."
          .break
          a.outline.w-button(href="#modalInDev", data-toggle="modal") Читать нашу историю →
