mixin section-our-story

  .container.white.w-container
    .section
      +line-dotted
      +section-row-text(
        'Our Story',
        'Memorisely is an accessible way to learn UX/UI online',
        'We\'re doing things a little different, without VC money and with an awesome UX / UI community in over 91 countries. Memorisely is an accessible way to learn UX / UI online with designers around the world.'
      )
      .large-break
      .w-layout-grid.two-columns
        .about
        .bootcamp-testimonials
          .testimonial-header.wow.fadeInUp
            .testimonial-avatar.zander
            .avatar-text-container
              .regular-text.black Zander Whitehurst
              .small-text Founder of Memorisely
          .break
          .large-text "Let's face it, learning UX/UI has never been accessible or affordable. For the last decade, courses have cost on average $15,000 and have been taught from classrooms in the priciest cities in the world. We're doing things a little different, without VC money, and with an awesome community in 91 countries around the world! Our goal is to make learning UX/UI accessible for anyone. <br><br> With Memorisely, you're not paying thousands of dollars extra because we rented a classroom in a prime city location. We connect you with 10 designers around the world and teach you live wherever you are with the latest real-time design tools."
          .break
          a.outline.w-button(href="/our-story") Read our story →
