mixin product-reviews(productIndex)

  include product-reviews.data.pug

  +section-row-test-small(productInfo)
  .blog-break
  .tribe-tesimonial-container.full-testimonial
    .tribe-column.left-column
      each review in reviews.partOne
        +review-item(review)

    .tribe-column.central-column
      each review in reviews.partTwo
        +review-item(review)
