-
  var productInfo = [
    {
      id: "link-alumn",
      text1: "Design System Alumni",
      text2: "Meet our Bootcamp Alumni",
      text3: "We're proud to educate designers around the world and take a lotta pride in forming a supportive alumni. We throw quarterly alumni events and often have alumni return to Bootcamps as guest speakers.",
    },
    {
      id: "link-alumn",
      text1: "Design System Alumni",
      text2: "Meet our Bootcamp Alumni",
      text3: "We're proud to educate designers around the world and take a lotta pride in forming a supportive alumni. We throw quarterly alumni events and often have alumni return to Bootcamps as guest speakers.",
    },
    {
      id: "link-alumn",
      text1: "Design System Alumni",
      text2: "Meet our Bootcamp Alumni",
      text3: "We're proud to educate designers around the world and take a lotta pride in forming a supportive alumni. We throw quarterly alumni events and often have alumni return to Bootcamps as guest speakers.",
    },
  ];

  var reviews = [
    {
      partOne: [
        {
          'name': 'Виктория',
          'position': 'Артдиректор',
          'avatar': 'viktoria',
          'text': '"Укрепила то, что я знала когда-то давно, со школьных времён, и позволила мне бросить вызов своим собственным страхам."',
        },
        {
          'name': 'Вероника',
          'position': 'Менеджер по продажам',
          'avatar': 'veronika',
          'text': '"Было приятно находиться в учебном пространстве с людьми со всего мира. Я думаю, что в целом атмосфера очень позитивная. Занятия разработаны очень хорошо, легко отслеживать свои результаты и оставаться сосредоточенным."',
        },
        {
          'name': 'Олег',
          'position': 'Ведущий',
          'avatar': 'oleg',
          'text': '"Всё способствовало комфортному и успешному обучению: группа небольшого размера и адекватная цена. Атмосфера была очень дружелюбная и материал буквально “ разжёвывался” преподавателем,  для меня это было важно."',
        },
      ],
      partTwo: [
        {
          'name': 'Слава',
          'position': 'Директор по продажам',
          'avatar': 'slava',
          'text': '"Быстрый темп учебы и дружественная обстановка”. Без воды ,всё как я люблю. "',
        },
        {
          'name': 'Наталья',
          'position': 'Программист',
          'avatar': 'natali',
          'text': '"Мой опыт работы был только положительным - продолжительность этого курса очень комфортная и приспосабливается к моему графику. Я нуждалась в обновлении знаний и повышения уровня английского для работы. А также была довольна содержанием курса."',
        },
        {
          'name': 'Оля',
          'position': 'Логист',
          'avatar': 'olya',
          'text': '"10/10 -это моя объективная оценка ! Учила английский для работы , и это было моё самое грамотное финансовое вложение в себя за последнее время."',
        },
      ],
    },
    {
      partOne: [
        {
          'name': 'Виктория',
          'position': 'Артдиректор',
          'avatar': 'viktoria',
          'text': '"Укрепила то, что я знала когда-то давно, со школьных времён, и позволила мне бросить вызов своим собственным страхам."',
        },
        {
          'name': 'Вероника',
          'position': 'Менеджер по продажам',
          'avatar': 'veronika',
          'text': '"Было приятно находиться в учебном пространстве с людьми со всего мира. Я думаю, что в целом атмосфера очень позитивная. Занятия разработаны очень хорошо, легко отслеживать свои результаты и оставаться сосредоточенным."',
        },
        {
          'name': 'Олег',
          'position': 'Ведущий',
          'avatar': 'oleg',
          'text': '"Всё способствовало комфортному и успешному обучению: группа небольшого размера и адекватная цена. Атмосфера была очень дружелюбная и материал буквально “ разжёвывался” преподавателем,  для меня это было важно."',
        },
      ],
      partTwo: [
        {
          'name': 'Слава',
          'position': 'Директор по продажам',
          'avatar': 'slava',
          'text': '"Быстрый темп учебы и дружественная обстановка”. Без воды ,всё как я люблю. "',
        },
        {
          'name': 'Наталья',
          'position': 'Программист',
          'avatar': 'natali',
          'text': '"Мой опыт работы был только положительным - продолжительность этого курса очень комфортная и приспосабливается к моему графику. Я нуждалась в обновлении знаний и повышения уровня английского для работы. А также была довольна содержанием курса."',
        },
        {
          'name': 'Оля',
          'position': 'Логист',
          'avatar': 'olya',
          'text': '"10/10 -это моя объективная оценка ! Учила английский для работы , и это было моё самое грамотное финансовое вложение в себя за последнее время."',
        },
      ],
    },
    {
      partOne: [
        {
          'name': 'Виктория',
          'position': 'Артдиректор',
          'avatar': 'viktoria',
          'text': '"Укрепила то, что я знала когда-то давно, со школьных времён, и позволила мне бросить вызов своим собственным страхам."',
        },
        {
          'name': 'Вероника',
          'position': 'Менеджер по продажам',
          'avatar': 'veronika',
          'text': '"Было приятно находиться в учебном пространстве с людьми со всего мира. Я думаю, что в целом атмосфера очень позитивная. Занятия разработаны очень хорошо, легко отслеживать свои результаты и оставаться сосредоточенным."',
        },
        {
          'name': 'Олег',
          'position': 'Ведущий',
          'avatar': 'oleg',
          'text': '"Всё способствовало комфортному и успешному обучению: группа небольшого размера и адекватная цена. Атмосфера была очень дружелюбная и материал буквально “ разжёвывался” преподавателем,  для меня это было важно."',
        },
      ],
      partTwo: [
        {
          'name': 'Слава',
          'position': 'Директор по продажам',
          'avatar': 'slava',
          'text': '"Быстрый темп учебы и дружественная обстановка”. Без воды ,всё как я люблю. "',
        },
        {
          'name': 'Наталья',
          'position': 'Программист',
          'avatar': 'natali',
          'text': '"Мой опыт работы был только положительным - продолжительность этого курса очень комфортная и приспосабливается к моему графику. Я нуждалась в обновлении знаний и повышения уровня английского для работы. А также была довольна содержанием курса."',
        },
        {
          'name': 'Оля',
          'position': 'Логист',
          'avatar': 'olya',
          'text': '"10/10 -это моя объективная оценка ! Учила английский для работы , и это было моё самое грамотное финансовое вложение в себя за последнее время."',
        },
      ],
    },
  ];
