-
  var metrics = [
    {
      'rate': '100%',
      'title': 'ЗАВЕРШЕНИЕ ПРОГРАММЫ',
      'description': 'Типичные онлайн-курсы имеют коэффициент завершения 62,3%. Мы гордимся тем, что имеем 100%-ный показатель.',
    },
    {
      'rate': '5 / 5',
      'title': 'СРЕДНИЙ ОТЗЫВ',
      'description': 'Главная цель наших занятий-дать ученикам возможность учиться на практике и получать массу удовольствия от этого процесса.',
    },
    {
      'rate': '6',
      'title': 'ОДНОКЛАССНИКИ',
      'description': 'Исходя из нашего опыта и отзывов, 6-это идеальный размер класса для объединения учащихся вместе, чтобы учиться друг у друга.',
    },
    {
      'rate': '50+',
      'title': 'выпускники',
      'description': 'Более 50 успешно окончивших курс учеников.',
    },
  ]

