mixin section-metric
  include section-metric.data.pug

  .strip
    .container.white.w-container.wow.fadeInUp
      .section
        +line-dotted

        .w-layout-grid.metric-grid
          each metric in metrics
            +metric-item(metric, 'regular-text')
