-
  var metrics = [
    {
      'rate': '100%',
      'title': 'COMPLETION RATE',
      'description': 'For context, typical online courses have a 12.6 % completion rate. We\'re proud to have a 100% completion rate',
    },
    {
      'rate': '5 / 5',
      'title': 'AVERAGE REVIEW',
      'description': 'The main goal of our Bootcamps is to ensure designers learn-by-doing and have a bunch of fun in the process.',
    },
    {
      'rate': '108 +',
      'title': 'COUNTRIES',
      'description': 'Our alumni are dotted around the world and our 2000+ memorisers designers are in 91+ countries.',
    },
    {
      'rate': '10',
      'title': 'CLASSMATES',
      'description': 'From our experience and feedback, 10 is the perfect class size for bringing designers together to learn with each other.',
    },
  ]

