-
  var productInfo = {
    id: "link-class",
    title: "МИКРОКЛАССЫ",
    subtitle: "Присоединяйтесь к микроклассу",
    description: "Мы считаем, что крайне важно иметь индивидуальный опыт обучения, и целенаправленно ограничиваем количество людей в классе - до 6 человек. Сохраняя небольшие размеры классов, мы гарантируем, что сможем охватить больше за то время, которое у нас есть. Кроме того, это наилучшее количество, при котором можно учиться вместе со всем классом и участвовать в дискуссиях.",
    imgClass: "micro-class",
  }
