-
  var productInfo = {
    id: "link-class",
    title: "Miro class",
    subtitle: "Join a micro class of 10 designers around the world",
    description: "We think it's vital to have a personalised learning experience and we purposefully limit class sizes to 10 designers. Keeping class sizes small, ensures we can cover more in the time we have and you'll learn directly from other designers. Plus, it's a safe place to learn with the whole class contributing to discussions and sharing feedback.",
    imgClass: "micro-class",
  }
