mixin section-title-full-img-text(productIndex)

  include product-info.data.pug
  - var productInfo = productInfo[productIndex]

  h2.title.wow.fadeInUp(id=productInfo.id)= productInfo.title
  h3.subtitle.wow.fadeInUp= productInfo.subtitle
  .large-text.wow.fadeInUp= productInfo.description
  .blog-break

  .design-task.wow.fadeInUp(class=productInfo.imgClass)
