mixin section-title-full-img-text(data)

  .title.wow.fadeInUp(id=data.id)= data.title
  h4.wow.fadeInUp= data.subtitle
  .large-text.wow.fadeInUp= data.description
  .blog-break

  .design-task.wow.fadeInUp(class=data.imgClass)
