mixin section-title-full-img-text(data)

  .title.wow.fadeIn(id=data.id)= data.title
  h4.wow.fadeIn= data.subtitle
  .large-text.wow.fadeIn= data.description
  .blog-break

  .design-task.wow.fadeIn(class=data.imgClass)
